@use '../../util/color' as color;
@use '../../util/theme' as theme;
@use '../../util/device' as device;
@use '../../util/size' as size;
@use '../../tokens/template-const' as template-const;
@use '../../tokens/sizes' as token-size;
@use '../../typography/typography' as typography;
@use '../../tokens/text' as text;
@use '../../tokens/sizes';
@use 'sass:map';

@mixin selector {
    lib-progress-indicator#{template-const.$escape} {
        @content;
    }
}

@mixin create {
    @include selector() {
        @include layout();
    }
}

@mixin large-styles() {
    button.tags-btn {
        @include typography.fontSize(map.get(text.$body, level), 3);
        &:where([selected])::after {
            transform: translateY(sizes.$fixed-0);
        }
    }
    button.tags-btn-plus {
        @include typography.fontSize(map.get(text.$body, level), 3);
        padding-bottom: 4px;
    }
    .stepTitle {
        @include typography.fontSize(map.get(text.$heading, level), 5);
        margin-bottom: 8px;
    }
}

@mixin small-styles() {
    button.tags-btn {
        @include typography.fontSize(map.get(text.$body, level), 4);
        &:where([selected])::after {
            transform: translateY(sizes.$fixed-0);
        }
    }
    button.tags-btn-plus {
        @include typography.fontSize(map.get(text.$body, level), 4);
        padding-bottom: 4px;
    }
    .stepTitle {
        @include typography.fontSize(map.get(text.$heading, level), 6);
        margin-bottom: 4px;
    }
}

@mixin layout {
    // .main-container {
    //     overflow: scroll;
    // }
    .horizontal {
        display: flex;
        justify-content: space-evenly;
        .container-plus-line {
            width: 100%;
        }
        .line {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: var(--divider);
            width: 100%;
        }
        .green-line {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: var(--success-border);
            width: 100%;
        }
    }
    .vertical {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        .container-plus-line {
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
        .line {
            border-left-style: solid;
            border-left-width: 1px;
            border-left-color: var(--divider);
            margin-right: 16px;
            height: 100%;
            justify-self: flex-start;
        }
        .green-line {
            border-left-style: solid;
            border-left-width: 1px;
            border-left-color: var(--success-border);
            margin-right: 16px;
        }
    }
    .container {
        padding: 0;
        margin-right: 16px;
        margin-bottom: 16px;

        .except-line {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        @include device.if-hover {
            background: var(--generic-hover);
            border-radius: 4px;
            outline: 2px solid var(--generic-hover);
            &:where([selected])::after {
                background: var(--generic-hover);
            }
        } &:active {
            background: var(--generic-active);
            border-radius: 4px;
            outline: 2px solid var(--generic-active);
            &:where([selected])::after {
                background: var(--generic-active);
            }
        } &:disabled {
            background: var(--surface1);
            outline: 2px solid var(--surface1);
            .stepTitle {
                color: var(--text-disabled);
            }
        } &:focus {
            border-radius: 4px;
        }
    }
    
    button.tags-btn {
        font-family: "Inter";
        color: var(--text-secondary);
        padding: 0 0 0 2px;
        background-color: transparent;
        pointer-events: none;
    }
    button.tags-btn-plus {
        font-family: "Inter";
        color: var(--text-secondary);
        padding: 0 0 0 2px;
        background-color: transparent;
        pointer-events: none;
    }
    .stepTitle {
        font-family: "Lato";
        padding-left: 2px;
        margin-top: 4px;
        color: var(--text-primary);
        white-space: nowrap;
    }

    @include size.selector(large) {
        @include large-styles();
        .small {
            @include small-styles();
        }
    }

    @include size.selector(small) {
        @include small-styles();
        .large {
            @include large-styles();
        }
    }
}