@use "../../util/color" as color;
@use "../../util/theme" as theme;
@use "../../util/device" as device;
@use "../../util/size" as size;
@use "../../tokens/template-const" as template-const;
@use "../../tokens/sizes" as token-size;
@use "../../typography/typography" as typography;
@use "../../tokens/text" as text;
@use "sass:map";

@mixin selectors {
  ircc-cl-lib-nav-item#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selectors() {
    @include layout();
  }
}

@mixin large-styles() {
  .lib-nav-item {
    a {
      p {
        margin-right: 12px;
        @include typography.fontSet(heading, 5, regular);
      }

      h2 {
        @include typography.fontSet(heading, 4, emphasis);
      }

      .icon-trailing {
        margin-left: auto;
        padding-right: 2px;
      }

      &.active-link {
        p {
          @include typography.fontSet(heading, 5, emphasis);
          margin-right: 12px;
        }
      }
    }
  }
}

@mixin small-styles() {
  .lib-nav-item {
    a {
      p {
        margin-right: 8px;
        @include typography.fontSet(heading, 6, regular);
      }

      h2 {
        @include typography.fontSet(heading, 5, emphasis);
      }

      .icon-trailing {
        margin-left: auto;
        padding-right: 2px;
      }

      a &.active-link {
        p {
          @include typography.fontSet(heading, 6, emphasis);
          margin-right: 8px;
        }
      }
    }
  }
}

@mixin layout {
  @include size.select(large) {
    @include large-styles();

    .small {
      @include small-styles();
    }
  }

  @include size.select(small) {
    @include small-styles();

    .large {
      @include large-styles();
    }
  }

  .lib-nav-item {
    display: flex;
    flex-direction: column;

    &.border-left {
      a {
        border-left: 4px solid var(--grey-5);
      }
    }
    a {
      display: flex;
      height: 100%;
      text-decoration: none;
      color: var(--text-primary);
      border-radius: 0;
      align-items: center;
      padding: 12px 10px 12px 24px;
      border-left: 4px solid transparent;

      &.active-link {
        border-left: 4px solid var(--navigation);
      }

      .icon-left {
        margin-left: -12px;
        margin-right: 12px;
      }

      ircc-cl-lib-indicator {
        margin-left: auto;
      }

      p {
        margin: 0;
        flex: 1;
      }
      h2 {
        flex: 1;
      }

      &[disabled] {
        color: var(--text-disabled);
        pointer-events: none;
      }

      &:visited {
        color: var(--text-primary);
      }

      &.active-link {
        background: var(--navigation-weak);
        &:hover {
          background: var(--navigation-weak-hover);
        }
        &:active {
          background: var(--navigation-weak-active);
        }
      }
    }

    h2 {
      margin: 0;
    }
  }
}
