@use '../../util/color'as color;
@use '../../util/theme'as theme;
@use '../../util/device'as device;
@use '../../util/size'as size;
@use '../../tokens/template-const'as template-const;
@use '../../tokens/sizes'as token-size;
@use '../../typography/typography'as typography;
@use '../../tokens/text'as text;
@use 'sass:map';

@mixin selector {
  ircc-cl-lib-radio-input#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin small-styles() {
  .radio-buttons {
    padding: 4px 0 0 0;
  }
}

@mixin large-styles() {
  .radio-buttons {
    padding: 8px 0 0 0;
  }
}

@mixin layout {
  div.radio {
    display: flex;
    margin-left: -12px;
    margin-bottom: 8px;

    input {
      justify-self: center;
      padding: 0;
      align-self: center;
    }

    label {
      justify-self: center;
      padding: 0;
    }
  }

  .radio-error i {
    margin-right: 4px;
  }

  .small_label {
    font-size: 14px;
  }

  .large_label {
    font-size: 16px;
  }

  @include size.selector(small) {
    @include small-styles();

    .large {
      @include large-styles();
    }
  }

  @include size.selector(large) {
    @include large-styles();

    .small {
      @include small-styles();
    }
  }

  .sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}