@use "../../util/color" as color;
@use "../../util/theme" as theme;
@use "../../util/device" as device;
@use "../../util/size" as size;
@use "../../tokens/template-const" as template-const;
@use "../../tokens/sizes" as token-size;
@use "../../typography/typography" as typography;
@use "../../tokens/text" as text;
@use "../../util/accessibility" as a11y;
@use "sass:map";

@mixin selector {
  ircc-cl-lib-radio-input#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin layout {
  div.radio {
    display: flex;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }

    input {
      justify-self: center;
      padding: 0;
      align-self: center;
    }

    label {
      justify-self: center;
      padding: 0;
    }
  }

  .radio-error i {
    margin-right: 4px;
  }

  .small_label {
    font-size: 14px;
  }

  .large_label {
    font-size: 16px;
  }

  .sr-only {
    @include a11y.sr-only;
  }
}
