@use '../../../../../core-library/util/device' as device;
@use "../../../scss/page";
@use "../../../scss/grid";
@use '@ircc-ca/ds-sdc-core/typography/typography';

@include page.template;

.block {
  &__usage-figma {
    .access-input-1-2 {
      @include grid.up-laptop-layout {
        padding-left: 22px;
      }
    }

    .image-1 {
      max-width: 167px;
      @include device.in-phone-layout {
        margin: {
          top: 12.38px;
          bottom: 133.62px;
        }
      }
    }

    .accessInput3 {
      max-width: 210px;

      @include grid.up-laptop-layout {
        margin-left: 36px;
      }
    }
  }
}
