@use '../../util/color' as color;
@use '../../util/theme' as theme;
@use '../../util/device' as device;
@use '../../util/size' as size;
@use '../../tokens/template-const' as template-const;
@use '../../tokens/sizes' as token-size;
@use '../../typography/typography' as typography;
@use '../../tokens/text' as text;
@use 'sass:map';

@mixin selector {
  lib-dropdown#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}
@mixin size-large() {
  .select-dropdown {
    padding: 14px 13px 14px 12px;
    font-size: 16px;
    height: 54px;
    line-height: 24px;
  }
  .custom-chevron {
    font-size: 20px;
  }
  .placholder-text {
    font-size: 16px;
  }
}

@mixin size-small() {
  .select-dropdown {
    padding: 10px;
    padding: 10px 13px 10px 12px;
    height: 42px;
    line-height: 20px;
    font-size: 14px;
  }

  .custom-chevron {
    font-size: 16px;
  }

  .placholder-text {
    font-size: 14px;
  }
}

@mixin layout {

  @include size.selector(large) {
    @include size-large();
    .small {
      @include size-small()
    }
  }

  @include size.selector(small) {
    @include size-small();
    .large {
      @include size-large()
    }
  }

  .content-container {
    > button {
      &.select-dropdown {
        background-color: white;
        border-style: solid;
        border: 1px solid #868687;
        color: var(--text-primary);
        border-radius: token-size.$border-radius;
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        
      }

      .custom-chevron {
        cursor: pointer;
        pointer-events: none;
        font-weight: 300;
        color: var(--text-primary);
      }

      .label-text {
        color: var(--text-primary);
        margin: 0px;
      }

      .placholder-text {
        color: var(--text-placeholder);
        margin: 0px;
      }

      &:active {
        background-color: var(--generic-active);
      }
    }
  }
}

