@use "../../util/color" as color;
@use "../../util/theme" as theme;
@use "../../util/device" as device;
@use "../../util/size" as size;
@use "../../tokens/template-const" as template-const;
@use "../../tokens/sizes" as token-size;
@use "../../typography/typography" as typography;
@use "../../tokens/text" as text;
@use "sass:map";

@mixin selector {
  ircc-cl-lib-dropdown#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin size-large() {
  &.content-container,
  .content-container {
    .dropdown {
      padding: 12px 21px 12px 20px;
      font-size: 20px;
      min-height: 54px;
      line-height: 24px;
    }

    .custom-chevron {
      font-size: 20px;
    }

    .placholder-text {
      font-size: 20px;
    }

    .custom-icon {
      width: 24px;
      height: 24px;
    }
  }
}

@mixin size-small() {
  &.content-container,
  .content-container {
    .dropdown {
      padding: 10px;
      padding: 8px 17px 8px 16px;
      min-height: 42px;
      line-height: 20px;
      font-size: 16px;
    }

    .custom-chevron {
      font-size: 16px;
    }

    .placholder-text {
      font-size: 16px;
    }

    .custom-icon {
      width: 20px;
      height: 20px;
    }
  }
}

@mixin layout {
  @include size.select(large) {
    @include size-large();
    .small {
      @include size-small();
    }
  }

  @include size.select(small) {
    @include size-small();
    .large {
      @include size-large();
    }
  }

  .content-container {
    > button {
      &.dropdown {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .custom-chevron {
        cursor: pointer;
        pointer-events: none;
        font-weight: 300;
      }

      .label-text {
        margin: 0px;
      }

      .placholder-text {
        margin: 0px;
      }

      .icon-text-container {
        display: flex;
        box-sizing: border-box;
      }

      .custom-icon {
        padding-right: 8px;
      }
    }
    .secondary,
    .plain {
      &.selected-true {
        background-color: var(--navigation-weak);
        &:hover {
          background-color: var(--navigation-weak-hover);
        }
        &:active {
          background-color: var(--navigation-weak-active);
        }
      }
    }

    .primary {
      &.selected-true {
        background-color: var(--formcontrol);
        &:hover {
          background-color: var(--formcontrol-hover);
        }
        &:active {
          background-color: var(--formcontrol-active);
        }
      }
    }
  }
}
