<div class="pageContainer">
    <div class="configTestCol">
        <form [formGroup]="form">
            <button (click)="resetChips()">Reset Chips</button>
            <div class="demoChipContainer">
                <div class="demoChipItem">
                    <jl-pr-sclp-jl-chip-item [chipContent]="'Test Item Chip'"></jl-pr-sclp-jl-chip-item>
                </div>
                <div class="demoChipListContainer">
                    <jl-pr-sclp-jl-chip-list [chipList]="['test1', 'test2', 'test3']"></jl-pr-sclp-jl-chip-list>
                </div>
                <div class="demo">
                    <jl-pr-sclp-jl-secondary-chips [chipContent]="'Test Secondary'"></jl-pr-sclp-jl-secondary-chips>
                </div>
            </div>

            <!-- Checkbox Test -->
            <div class="demoCheckboxContainer">
                <div class="demoCheckbox" *ngFor="let checkbox of checkboxesConfigs">
                    <jl-pr-sclp-checkbox [config]="checkbox" [formControlName]="checkbox.id"></jl-pr-sclp-checkbox>
                </div>
                <button (click)="buttonActions(homeButtonActionTypes.disableCheckbox)">Toggle Disable Checkbox</button>
                <button (click)="buttonActions(homeButtonActionTypes.checkboxError)">Toggle Error Checkbox</button>
            </div>

            <!-- Dropdown Test -->
            <div class="demoDropdownContainer">
                <jl-pr-sclp-dropdown [config]="dropdownConfig"
                    [formControlName]="dropdownConfig.id"></jl-pr-sclp-dropdown>
            </div>

            <!-- Radio Input Test -->
            <br>
            <div>
                <lib-radio-input [config]="radioConfig" [formControlName]="radioConfig.id"></lib-radio-input>
            </div>
        </form>

    </div>



    <!-- Non-Config Tests -->
    <div class="nonConfigTestCol">
        <form [formGroup]="form">
            <div>
                <div>
                    <lib-radio-input [config]="radioErrorTestConfig" [formControlName]="radioErrorTestConfig.id"></lib-radio-input>
                </div>
                <button (click)="buttonActions(homeButtonActionTypes.disableRadio)">Disable Radio</button>

                <div class="demoInput">
                    <jl-pr-sclp-input *ngFor="let config of inputConfigs" [config]="config" [formControlName]="config.id">
                    </jl-pr-sclp-input>
                </div>
                <button class="disable-button" (click)="buttonActions(homeButtonActionTypes.disablePassword)">Toggle Disable Password</button>
            </div>

            <div class="selectDropDown">
                <lib-dropdown-input [config]="selectDropDownConfig" [formControlName]="selectDropDownConfig.id"></lib-dropdown-input>
            </div>
        </form>
        <lib-date-picker [title]="'Testing'" [dateForm]="form" [id]="datePickerID"></lib-date-picker>

    </div>

    <div class="displayCol">
        <div>
            <h3>Values in Input</h3>
            <ng-container *ngFor="let element of demoTextArray">
                <h6>{{element.id}}:</h6>
                <p>{{element.value}}</p>
            </ng-container>
            <h3>Values in Form</h3>
            <ng-container *ngFor="let element of getFormElements()">
                <span class="displayContainerSpan">
                    <h5>{{element.key}}:</h5>
                    <p>{{element.value}}</p>
                </span>
            </ng-container>
        </div>
        <button [routerLink]="'/quick-demo'">Go To Demo Page</button>

    </div>
      <!-- Button test -->
      <div class="demoButtonContainer">
          <lib-button icon='fa-regular fa-mustache' [iconDirection]="iconDirectionEnum.left">Test</lib-button>
      </div>
      <div>
        <lib-icon-button [config]="iconButtonConfig"></lib-icon-button>
      </div>
</div>
