<div class="container">
    <div class="tabs">
        <ng-content select="[tabs]"></ng-content>
    </div>
    <div class="component_container">
        <div class="test_component">
            <ng-content select="[component]"></ng-content>
        </div>
    </div>
    <div class="toggles-accordion">
        <ng-container *ngIf="isOpen">
            <ircc-cl-lib-button [config]="accordionButtonOpenConfig" (click)="toggle()">{{accordionOpen |
                translate}}</ircc-cl-lib-button>
        </ng-container>
        <ng-container *ngIf="!isOpen">
            <ircc-cl-lib-button [config]="accordionButtonClosedConfig" (click)="toggle()">{{accordionClosed |
                translate}}</ircc-cl-lib-button>
        </ng-container>
    </div>
    <div class="toggles" *ngIf="isOpen">
        <ng-content select="[toggles]"></ng-content>
    </div>
</div>