@use "../../util/theme" as theme;
@use "../../util/size" as size;
@use '../../util/device'as device;
@use "../../tokens/sizes" as token-size;
@use "../../tokens/template-const";
@use "../../typography/typography" as typography;
@use "../../tokens/text" as text;
@use "sass:map";
$selectors: "ircc-cl-lib-error";

@mixin selector {
  #{$selectors}#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin small-styles() {
  &.errorComponent,
  .errorComponent {
    line-height: 20px;
  }
  .errorIcon {
    height: 16px;
    width: 16px;

    svg {
      height: 16px;
      width: 16px;
    }
    @include device.in-tablet-layout {
      margin-top: 2px;
  }
    @include device.in-phone-layout {
      margin-top: 2px;
    }
  }

  .errorText {
    font-size: 14px;

    margin: {
      top: 0;
      bottom: 0;
    }
  }

  .additionalError {
    margin-left: 20px;
  }
}

@mixin large-styles() {
  &.errorComponent,
  .errorComponent {
    line-height: 24px;
  }

  .errorIcon {
    height: 20px;
    width: 20px;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  .errorText {
    margin: 0;
    font-size: 16px;
  }

  .additionalError {
    margin: {
      left: 24px;
      bottom: 0px;
      top: 4px;
    }
  }
}

@mixin layout {
  @include size.select(large) {
    @include large-styles();

    .small {
      @include small-styles();
    }
  }

  @include size.select(small) {
    @include small-styles();

    .large {
      @include large-styles();
    }
  }

  .errorComponent {
    display: flex;
    color: var(--critical-text);
    align-items: center;
    margin-top: 8px;

    @include device.in-tablet-layout {
      display: flex;
      align-items: flex-start;
    }
    @include device.in-phone-layout {
      display: flex;
      align-items: flex-start;
    }
  }

  .errorIcon {
    margin-right: 4px;
  }
}
