@use "../../util/theme" as theme;
@use "../../util/size" as size;
@use "../../tokens/sizes" as token-size;
@use "../../tokens/template-const";
@use "../../typography/typography" as typography;
@use "../../tokens/text" as text;
@use "sass:map";
$selectors: "lib-error";

@mixin selectors {
  #{$selectors}#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selectors() {
    @include layout();
  }
}

@mixin small-styles {
  .errorIcon {
    height: 16px;
    width: 16px;
  }

  .errorText {
    font-size: 14px;
  }

  .errorContainer {
    max-height: 16px;
    padding-top: 4px;
  }

  .additionalError {
    margin-left: 20px;
    font-size: 14px;
    padding-top: 8px;
  }
}

@mixin large-styles {
  .errorIcon {
    height: 20px;
    width: 20px;
  }

  .errorText {
    font-size: 16px;
    // margin: 12px 0;
  }

  .errorContainer {
    max-height: 20px;
    padding-top: 8px;
  }

  .additionalError {
    margin-left: 24px;
    font-size: 16px;
    padding-top: 12px;
  }
}

@mixin layout {
  @include size.selector(large) {
    @include large-styles;

    .small {
      @include small-styles;
    }
  }

  @include size.selector(small) {
    @include small-styles;

    .large {
      @include large-styles;
    }
  }

  .errorContainer {
    display: flex;
    color: var(--critical-text);
    align-items: center;
  }

  .errorIcon {
    margin-right: 4px;
  }
}
