[submodule "projects/ircc-ds-angular-component-library"]
	path = projects/ircc-ds-angular-component-library
	url = https://git-codecommit.ca-central-1.amazonaws.com/v1/repos/ircc-angular-component-library
