<!-- <ng-template #clipboardBtn>
<jds-button class="copy">{{ 'Buttons.Copy' | translate }}</jds-button> 
  <button class="copy">HERE{{ 'Buttons.Copy' | translate }}</button>
</ng-template> -->
<div class="content-doc-wrapper col-12 col-lg-9 col-xl-10">
  <app-title-slug-url
    [config]="overViewDeveloperSlug"
    class="for-developers"
  ></app-title-slug-url>
  <!-- <p class="dev-txt">{{ 'Overview.DeveloperPackageTxt' | translate }}</p> -->
  <p
    [translate]="'Overview.DeveloperPackageTxt'"
    class="dev-txt"
  ></p>
  <app-title-slug-url
    [config]="developerStartedSlug"
    class="getting-started"
  ></app-title-slug-url>
  <p [translate]="'Developers.GetStartedTxt'"></p>
  <!-- <div style="border: 1px solid black; padding: 16px; border-radius: 4px">
    <button (click)="copyToClipboard(paragraph1)">Copy</button>
    <p>{{ paragraph1 }}</p>
  </div> -->
  <!-- <h2>Usage</h2> -->
  <app-title-slug-url [config]="developerUsageSlug"></app-title-slug-url>
  <p [translate]="'Developers.UsageTxt'"></p>
  <p [translate]="'Developers.UsageTitle1'"></p>
  <div style="border: 1px solid black; padding: 16px; border-radius: 4px">
    <button
      [translate]="'Buttons.Copy'"
      (click)="copyToClipboard(paragraph1)"
    ></button>
    <p style="white-space: pre-line">{{ paragraph1 }}</p>
  </div>
  <p [translate]="'Developers.UsageTitle2'"></p>
  <div style="border: 1px solid black; padding: 16px; border-radius: 4px">
    <button
      [translate]="'Buttons.Copy'"
      (click)="copyToClipboard(paragraph1)"
    ></button>
    <p style="white-space: pre-line">{{ paragraph1 }}</p>
  </div>
  <app-title-slug-url [config]="developerThemesSlug"></app-title-slug-url>
  <p [translate]="'Developers.ThemesTxt'"></p>
  <p [translate]="'Developers.ThemesTitle1'"></p>
  <div style="border: 1px solid black; padding: 16px; border-radius: 4px">
    <button
      [translate]="'Buttons.Copy'"
      (click)="copyToClipboard(placeholder)"
    ></button>
    <p style="white-space: pre-line">{{ placeholder }}</p>
  </div>
  <p [translate]="'Developers.ThemesTitle2'"></p>
  <div style="border: 1px solid black; padding: 16px; border-radius: 4px">
    <button
      [translate]="'Buttons.Copy'"
      (click)="copyToClipboard(placeholder)"
    ></button>
    <p style="white-space: pre-line">{{ placeholder }}</p>
  </div>
  <p [translate]="'Developers.ThemesTitle3'"></p>
  <div style="border: 1px solid black; padding: 16px; border-radius: 4px">
    <button
      [translate]="'Buttons.Copy'"
      (click)="copyToClipboard(placeholder)"
    ></button>
    <p style="white-space: pre-line">{{ placeholder }}</p>
  </div>

  <app-title-slug-url [config]="developerFontAwesomeSlug"></app-title-slug-url>
  <p [translate]="'Developers.FontAwesomeTxt'"></p>
  <div style="border: 1px solid black; padding: 16px; border-radius: 4px">
    <button
      [translate]="'Buttons.Copy'"
      (click)="copyToClipboard(placeholder)"
    ></button>
    <p>{{ placeholder }}</p>
  </div>
  <app-title-slug-url [config]="developerReleasesSlug"></app-title-slug-url>
  <p [translate]="'Developers.ReleasesTxt'"></p>
  <p [translate]="'Developers.ReleasesTitle1'"></p>
  <div style="border: 1px solid black; padding: 16px; border-radius: 4px">
    <button
      [translate]="'Buttons.Copy'"
      (click)="copyToClipboard(placeholder)"
    ></button>
    <p>{{ placeholder }}</p>
  </div>
  <p [translate]="'Developers.ReleasesTitle2'"></p>
  <div style="border: 1px solid black; padding: 16px; border-radius: 4px">
    <button
      [translate]="'Buttons.Copy'"
      (click)="copyToClipboard(placeholder)"
    ></button>
    <p>{{ placeholder }}</p>
  </div>
  <p [translate]="'Developers.ReleasesTitle3'"></p>
  <div style="border: 1px solid black; padding: 16px; border-radius: 4px">
    <button
      [translate]="'Buttons.Copy'"
      (click)="copyToClipboard(placeholder)"
    ></button>
    <p>{{ placeholder }}</p>
  </div>
  <!-- <markdown
    *ngIf="translate.currentLang === 'en'"
    clipboard
    [clipboardButtonTemplate]="clipboardBtn"
    [src]="'assets/md/README_core_en.md'"
  ></markdown>
  <markdown
    *ngIf="translate.currentLang === 'fr'"
    clipboard
    [clipboardButtonTemplate]="clipboardBtn"
    [src]="'assets/md/README_core_fr.md'"
  ></markdown> -->
</div>
<app-side-nav
  class="right-nav col-12 col-lg-3 col-xl-2"
  [navBarData]="rightNavData"
></app-side-nav>
