<!-- <h2>Click the Component you want to test</h2>

<button (click)="buttonActions('inputComponent')">Input Component</button>

<ng-container *ngIf="showInputComponent === true">
  <h2>Input Component</h2>
  <ircc-cl-lib-input [config]="qaInput"></ircc-cl-lib-input>
  <app-auto-tester [config]="testInputComponentConfig"></app-auto-tester>
  <button (click)="buttonActions('disable-input')">Disable</button>
</ng-container> -->

<div class="content-doc-wrapper">
  <app-title-slug-url [translate]="'Input.Title'" type="primary" class="h1 emphasis">Input</app-title-slug-url>
  <p class="body1">{{'Input.Intro' | translate}}</p>
  
  <section class="interactive-demo">
    <app-title-slug-url [translate]="'Input.InteractiveDemo'" class="h3 emphasis"></app-title-slug-url>
    <p class="body3">{{'Input.InteractiveDemoDesc' | translate}}</p>
    <app-interactive-demo></app-interactive-demo>
    <!-- CODE BLOCK COMPONENT</button> -->
  </section>
  
  <section class="types">
    <app-title-slug-url [translate]="'Input.TypesHeading'" class="h3 epmhasis"></app-title-slug-url>
    <h5 class="emphasis">{{'Input.PrimaryHeading' | translate}}</h5>
    <app-component-preview copyText="<button>{{'Buttons.PrimaryBtnText' | translate}}</button>">
      <ircc-cl-lib-input [config]="basicInputConfig"></ircc-cl-lib-input>
    </app-component-preview>
    <p>{{'Input.PrimaryText' | translate}}</p>
    <h5 class="emphasis">{{'Input.SecondaryHeading' | translate}}</h5>
    <app-component-preview copyText="<button category='secondary'>{{'Buttons.SecondaryIBtnText' | translate}}</button>">
            <ircc-cl-lib-input [config]="passwordInputConfig"></ircc-cl-lib-input>
    </app-component-preview>
    <p>{{'Input.SecondaryText' | translate}}</p>
  </section>
  
  <section class="configs">
    <app-title-slug-url [translate]="'Input.ConfigurationsHeading'"></app-title-slug-url>
    <div class="row">
      <div>
        <h5>{{'Buttons.ConfigSizeHeading' | translate}}</h5>
        <ul>
          <li>{{'Buttons.ConfigSizeSmall' | translate}}</li>
          <li>{{'Buttons.ConfigSizeLarge' | translate}}</li>
        </ul>
      </div>
      <div>
        <h5>{{'Buttons.ConfigLayoutHeading' | translate}}</h5>
        <ul>
          <li>{{'Buttons.ConfigLayoutFluid' | translate}}</li>
          <li>{{'Buttons.ConfigLayoutFixed' | translate}}</li>
        </ul>
      </div>
      <div>
        <h5>{{'Buttons.ConfigIconHeading' | translate}}</h5>
        <ul>
          <li>{{'Buttons.ConfigIconNone' | translate}}</li>
          <li>{{'Buttons.ConfigIconLeading' | translate}}</li>
          <li>{{'Buttons.ConfigIconTrailing' | translate}}</li>
        </ul>
      </div>
      <div>
        <h5>{{'Buttons.ConfigStateHeading' | translate}}</h5>
        <ul>
          <li>{{'Buttons.ConfigStateDefault' | translate}}</li>
          <li>{{'Buttons.ConfigStateHover' | translate}}</li>
          <li>{{'Buttons.ConfigStateActive' | translate}}</li>
          <li>{{'Buttons.ConfigStateActive' | translate}}</li>
          <li>{{'Buttons.ConfigStateFocus' | translate}}</li>
        </ul>
      </div>
    </div>
  </section>
  <div class="design-guidelines">
    <app-title-slug-url [translate]="'Input.DesignGuidelinesHeading'"></app-title-slug-url>
    <h5 class="h5 emphasis">{{'Input.FieldWidth' | translate}}</h5>
    <div class="row">
      <div>
        <img src="" alt="{{'Input.FieldWidthImgDo' | translate}}">
        <h5 class="text-underline text-color-green">{{'Input.DoHeading'|translate}}</h5>
        <p>{{'Input.FieldWidthDoText'|translate}}</p>
      </div>
      <div>
        <img src="" alt="{{'Input.FieldWidthImgDont' | translate}}">
        <h5 class="text-underline text-color-red">{{'Input.DontHeading'|translate}}</h5>
        <p>{{'Input.FieldWidthDontText'|translate}}</p>
      </div>
    </div>
    <h5>{{'Input.ErrorsHeading' | translate}}</h5>
    <div class="row">
      <div>
        <img src="" alt="{{'Input.DestructiveDoImgAlt' | translate}}">
        <h5 class="text-underline text-color-green">{{'Input.DoHeading'|translate}}</h5>
        <p>{{'Input.DestructiveDoText'|translate}}</p>
      </div>
      <div>
        <img src="" alt="{{'Input.DestructiveDontImgAlt' | translate}}">
        <h5 class="text-underline text-color-red">{{'Input.DontHeading'|translate}}</h5>
        <p>{{'Input.DestructiveDontText'|translate}}</p>
      </div>
    </div>
  </div>
  <section class="anatomy">
    <!-- <app-title-slug-url [translate]="'Input.AnatomyHeading'"></app-title-slug-url>
    <img src="assets/img/anatomy-image-button.jpg" alt="{{'Buttons.AnatomyImgAlt' | translate}}"><br/>
    <span class="round-purple-num">1</span>
    <h5 class="round-purple-num">{{'Buttons.AnatomyBGHeading' | translate}}</h5>
    <p [style.margin-bottom]="0">{{'Buttons.AnatomyBGText' | translate}}</p>
    <span class="round-purple-num">2</span>
    <h5 class="round-purple-num">{{'Buttons.ConfigIconHeading' | translate}}</h5>
    <p [style.margin-bottom]="0">{{'Buttons.AnatomyIconText' | translate}}</p>
    <span class="round-purple-num">3</span>
    <h5 class="round-purple-num">{{'Buttons.AnatomyLblHeading' | translate}}</h5>
    <p>{{'Buttons.AnatomyLblText' | translate}}</p> -->
  </section>
  <section class="specs">
    <!-- <app-title-slug-url [translate]="'Input.SpecsHeading'"></app-title-slug-url>
    <img src="assets/img/button-specs.jpg" alt="{{'Buttons.SpecsImgAlt' | translate}}">
    <p>{{'Buttons.SpecsText' | translate}}</p> -->
  </section>
  <section class="content-guidelines">
    <!-- <app-title-slug-url [translate]="'Input.ContentGuidelinesHeading'"></app-title-slug-url>
    <h5 [style.margin-top]="0">{{'Buttons.CaseHeading' | translate}}</h5>
    <div class="row">
      <div class="col-12 col-md-6">
        <img src="assets/img/button-content-guide-1.jpg" alt="{{'Buttons.CaseDoImgAlt' | translate}}"><br/>
        <h5 class="text-underline text-color-green">{{'Buttons.DoHeading'|translate}}</h5>
        <p>{{'Buttons.CaseDoText'|translate}}</p>
      </div>
      <div class="col-12 col-md-6">
        <img src="assets/img/button-content-guide-2.jpg" alt="{{'Buttons.CaseDontImgAlt' | translate}}"><br/>
        <h5 class="text-underline text-color-red">{{'Buttons.DontHeading'|translate}}</h5>
        <p>{{'Buttons.CaseDontText'|translate}}</p>
      </div>
    </div>
    <h5>{{'Buttons.DescriptiveHeading' | translate}}</h5>
    <div class="row">
      <div class="col-12 col-md-6">
        <img src="assets/img/button-content-guide-3.jpg" alt="{{'Buttons.DescriptiveDoImgAlt' | translate}}"><br/>
        <h5 class="text-underline text-color-green">{{'Buttons.DoHeading'|translate}}</h5>
        <p>{{'Buttons.DescriptiveDoText'|translate}}</p>
      </div>
      <div class="col-12 col-md-6">
        <img src="assets/img/button-content-guide-4.jpg" alt="{{'Buttons.DescriptiveDontImgAlt' | translate}}"><br/>
        <h5 class="text-underline text-color-red">{{'Buttons.DontHeading'|translate}}</h5>
        <p>{{'Buttons.DescriptiveDontText'|translate}}</p>
      </div>
    </div> -->
  </section>
  <section class="usage-figma">
    <!-- <app-title-slug-url [translate]="'Input.FigmaHeading'"></app-title-slug-url>
    <div class="row">
      <div class="col-12 col-md-8">
        <h5 [style]="'margin-top: 0; margin-bottom: 12px;'">{{'Buttons.FigmaDirectionsHeading' | translate}}</h5>
        <ol>
          <li [innerHtml]="'Buttons.FigmaDirectionsListItem1' | translate"></li>
          <li [innerHtml]="'Buttons.FigmaDirectionsListItem2' | translate"></li>
          <li [innerHtml]="'Buttons.FigmaDirectionsListItem3' | translate"></li>
          <li [innerHtml]="'Buttons.FigmaDirectionsListItem4' | translate"></li>
        </ol>
      </div>
      <div class="col-12 col-md-4">
        <img src="assets/img/button-figma.png" alt="{{'Buttons.FigmaDirectionsImgAlt' | translate}}">
      </div>
    </div> -->
  </section>
  <section class="accessibility">
    <!-- <app-title-slug-url [translate]="'Input.AccessibilityHeading'"></app-title-slug-url>
    <h5 [style.margin-top]="0">{{'Buttons.AccessibilityColourHeading' | translate}}</h5>
    <p>{{'Buttons.AccessibilityColourText' | translate}}</p>
    <h5 [style.margin-top]="0">{{'Buttons.AccessibilityKeyboardHeading' | translate}}</h5>
    <p>{{'Buttons.AccessibilityKeyboardText' | translate}}</p> -->
  </section>
  <section class="research">
    <!-- <app-title-slug-url [translate]="'Input.ResearchHeading'"></app-title-slug-url>
    <p>{{'Buttons.ResearchText' | translate}}</p> -->
  </section>
</div>