@use "../../../scss/grid";
@use "@ircc-ca/ds-sdc-core/typography/typography";

:host {
  @include grid.row;

  >.content-doc-wrapper {
    @include grid.col-12;

    @include grid.up-laptop-layout {
      @include grid.col-12;
    }

    .sub-title {
      margin-bottom: 24px;
    }

    .overviewTxt {
      @include typography.fontSet(body, 1, regular);
      margin: 0;
    }

    .wrapper-container {
      @include grid.row(12px);

      margin-top: 80px;
      align-items: stretch;

      > div.box {
        display: flex;

        @include grid.in-phone-layout {
          &:not(:first-child) {
            margin-top: 12px;
          }
        }
      }

      .for-designers,
      .for-devs {
        // min-height: 174px;
        border: 1px solid;
        border-color: var(--divider);
        border-radius: 12px;
        padding: 20px 24px 44px 24px;

        h2 {
          margin: 0;
        }

        .boxtxt {
          margin: 10px 0 12px 0;
          @include typography.fontSet(body, 2, regular);
        }

        a {
          color: var(--navy-7);
          &:hover {
            color: var(--blue-8);
            background-color: transparent;
          }
        
          &:active {
            color: var(--navy-9);
            background-color: transparent;
          }
        
          &:visited {
            color: var(--purple-8);
          }
        }
      }
    }
  }
}
