<div class="content-doc-wrapper">
  <app-title-slug-url
    [config]="overViewSlugTitleURLConfig"
  ></app-title-slug-url>
  <p class="overviewTxt">{{ 'Overview.Text' | translate }}</p>
  <div
    class="wrapper-container row"
    [style.box-sizing]="'border-box'"
  >
    <div class="col-12 col-md-6 box">
      <div class="for-designers">
        <h2 class="h3">
          <strong>{{ 'General.DesignerHeading' | translate }}</strong>
        </h2>
        <p class="boxtxt">{{ 'Overview.DesignerText' | translate }}</p>
        <a
          routerLink="/{{ currentLanguage }}/{{
            'ROUTES.forDesigners' | translate
          }}"
          >{{ 'Overview.GetStartedHeading' | translate }}</a
        >
      </div>
    </div>
    <div class="col-12 col-md-6 box">
      <div class="for-devs">
        <h2 class="h3">
          <strong>{{ 'General.DeveloperHeading' | translate }}</strong>
        </h2>
        <p class="boxtxt">{{ 'Overview.DeveloperText' | translate }}</p>
        <a
          routerLink="/{{ currentLanguage }}/{{
            'ROUTES.forDevelopers' | translate
          }}"
          >{{ 'Overview.GetStartedHeading' | translate }}</a
        >
      </div>
    </div>
  </div>
</div>
