@use '../../tokens/template-const' as template-const;
@use '../../tokens/sizes' as sizes;
@use '../../layout/layout-grid' as layout-grid;
@use '../../util/device' as device;

@mixin selector {
  ircc-cl-lib-footer#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin layout {
  //copied from component scss file - can be leveraged

  .footing {
    margin-top: 80px;
    margin-bottom: 48px;
  }

  .grid-container {
    display: grid;
    @include layout-grid.grid(max-content auto, auto);

    * {
      grid-column: auto / span 1
    };

    align-items: center;

    img {
      padding: 14px 1.07px 10px 0;
      height: 16px;
      width: 67.136px;
    }
  }

  .item1 {
    align-self: center;
    padding: 14px 0 10px 0;
    @include device.in-phone-layout () {
      margin-left: sizes.$fixed-8;
    }
  }

  .item2 {
    justify-self: end;
    align-self: flex-end;
  }
}