@use '../../tokens/template-const' as template-const;
@use '../../tokens/sizes' as sizes;
@use '../../layout/layout-grid' as layout-grid;
@use '../../util/device' as device;

@mixin selector {
  ircc-cl-lib-footer#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin layout {
  //copied from component scss file - can be leveraged

  .footing {
    margin-top: 94px;
    margin-bottom: 58px;
  }

  .grid-container {
    display: grid;
    @include layout-grid.grid(max-content auto, auto);

    * {
      grid-column: auto / span 1
    }

    ;

    align-items: center;

    img {
      margin: {
        right: 1.07px;
        top: 14px;
        bottom: 14px;
      }

      ;
      height: 16px;

      @include device.in-phone-layout {
        min-width: 100px;
        height: 22.93px;

        margin: {
          top: 24px;
          right: 9.07px;
          left: 16px;
          bottom: 28.48px;
        }

        ;
      }
    }
  }

  .item1 {
    align-self: center;

    @include device.in-phone-layout () {
      margin-left: sizes.$fixed-8;
    }
  }

  .item2 {
    justify-self: end;
    align-self: flex-end;
  }
}