@use '../../tokens/template-const' as template-const;
@use '../../tokens/sizes' as sizes;
@use '../../layout/layout-grid' as layout-grid;
@use '../../util/device' as device;
 
@mixin selector {
    lib-footer#{template-const.$escape} {
        @content;
    }
}

@mixin create {
    @include selector() {
        @include layout();
    }
}

@mixin layout {
//copied from component scss file - can be leveraged

  .footing {
    margin-top: sizes.$fixed-16;
    margin-bottom: sizes.$fixed-16;
  }

  .grid-container {
    display: grid;
    @include layout-grid.grid(max-content auto, auto);
    * {grid-column: auto / span 1};
    
    align-items: center;

    img {
        min-width: 100px;
        margin: {
            right: 20px;
            top: 24px;
            bottom: 24px;
        };
        height: 27.3px;

        @include device.in-phone-layout {
            min-width: 100px;
            height: 22.93px;
            margin: {
                left: 16px;
                top: 24px;
                bottom: 28.48px;
            };
        }
    }
  }

  .item1 {
    align-self: center;
      @include device.in-phone-layout () {
        margin-left: sizes.$fixed-36;
      }
  }

  .item2 {
    justify-self: end;
    align-self: flex-end;
  }
}
