@use "../../util/color" as color;
@use "../../util/theme" as theme;
@use "../../util/device" as device;
@use "../../util/size" as size;
@use "../../tokens/template-const" as template-const;
@use "../../tokens/sizes" as token-size;
@use "../../typography/typography" as typography;
@use "../../tokens/text" as text;
@use "sass:map";

@mixin selector {
  ircc-cl-lib-icon-button#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin primary-lg {
  svg {
    height: 23px;
  }
}

@mixin primary-sm {
  svg {
    height: 20px;
  }
}

@mixin lg {
  > span {
    width: 24px;
    height: 24px;
  }

  svg {
    height: 24px;
  }
}

@mixin sm {
  > span {
    width: 20px;
    height: 20px;
  }

  svg {
    height: 20px;
  }
}

@mixin layout {
  > button {
    border-radius: 50%;

    &:focus {
      outline-offset: -3px;
    }

    &:disabled {
      svg {
        color: var(--text-disabled);
      }
    }

    > span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ds-icon-container {
      > span {
        display: flex;
      }
    }

    &.large {
      padding: 10px;

      @include lg;
    }

    &.small {
      padding: 10px;

      @include sm;
    }

    &.extraSmall {
      padding: 4px;

      > span {
        width: 16px;
        height: 16px;
      }

      svg {
        height: 16px;
      }
    }

    @include size.select(large) {
      @include lg;
    }

    @include size.select(small) {
      @include sm;
    }

    &.primary {
      // If SVG shows up blurry, slightly lower height to achieve optimal result
      &.large {
        @include primary-lg;
      }
    }
  }
}

