@use "../../../../../core-library/util/device" as device;
@use "../../../../../core-library/tokens/template-const" as template-const;
@use "../../../../../core-library/layout/layout-grid" as layout-grid;
@use "../../../scss/page";
@use "@ircc-ca/ds-sdc-core/typography/typography";

@include page.template;

.block {
  .component-preview {
    max-width: 362px;
    height: 225px;
    ircc-cl-lib-input {
      width: 232px;
    }
  }
}