@use '../../../../../core-library/util/device' as device;

.content-doc-wrapper {
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

h3 {
  display: inline-block;
  font-weight: 700;

  &.primary {
    font-size: 36px;
  }

  &.secondary {
    font-size: 28px;
    margin-top: 60px;
  }
}

.body1.intro {
  margin-top: 0px;
  margin-bottom: 0px;
}

.body3.demo {
  margin-top: 0px;
  margin-bottom: 24px;
}

.subtitles {
  margin-bottom: 12px;
}

.component-preview {
  max-width: 362px;
  height: 221px;
}

.body3 {
  .subtext-1 {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .subtext-2 {
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .subtext-3 {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .subtext-4 {
    margin-top: 8px;
    margin-bottom: 32px;
  }

  .subtext-5 {
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .subtext-6 {
    margin-top: 8px;
    margin-bottom: 48px;
  }

  .subtext-7 {
    margin-top: 8px;
    margin-bottom: 44px;
  }

  .subtext-8 {
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .subtext-9 {
    margin-top: 8px;
    margin-bottom: 12px;
  }

  .subtext-10 {
    margin-top: 8px;
    margin-bottom: 68px;
  }

  .subtext-11 {
    margin-top: 8px;
    margin-bottom: 88px;
  }

  .subtext-12 {
    margin-top: 8px;
    margin-bottom: 52px;
  }

  .subtext-13 {
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .last {
    margin-top: 12px;
    margin-bottom: 0px;
  }

  .anatomy {
    margin-bottom: 0px;
  }
}

.config-heading {
  margin-top: 24px;
  margin-bottom: 12px;
}

ul {
  margin-top: 0px;
  margin-bottom: 12px;
}

.end-list {
  margin-bottom: 0px;
}

> a {
  margin-left: 16px;
  position: relative;
  bottom: 5px;
  text-decoration: none;
  color: var(--link-text);
  cursor: pointer;
}

h5 {
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 0px;

  &.text-underline {
    border-bottom: 1px solid;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  &.text-color-green {
    color: var(--success-text);
  }

  &.text-color-red {
    color: var(--critical-text);
  }

  &.round-purple-num {
    display: inline-block;
    margin-left: 8px;
    margin-top: 24px;
    margin-bottom: 8px;
    position: relative;
    top: 2px;
  }
}

span {
  &.round-purple-num {
    color: #592d85;
    font-weight: 700;
    background-color: #e1d1f0;
    padding: 9px 15px;
    border-radius: 50%;
  }
}

.row {
  display: flex;
  justify-content: space-between;

  @include device.in-phone-layout() {
    flex-wrap: wrap;
  }
}

.column {
  width: 50%;

  @include device.in-phone-layout() {
    width: 100%;
  }
}

.left-column {
  padding-right: 12px;
}

.right-column {
  padding-left: 12px;
}

.code-viewer {
  margin-top: 24px;
}

.config-row {
  //most sections wrap responsively but the config section does not
  display: flex;
  justify-content: flex-start;
}

.usage-figma {
  .three-column-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include device.in-tablet-layout() {
      flex-wrap: wrap;
    }

    .image-container-wrapper {
      display: flex;
      flex-direction: row;

      @include device.in-tablet-layout() {
        display: flex;
        flex-direction: column;
      }

      @include device.in-phone-layout() {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .image-1 {
    max-width: 232px;
    height: auto;
  }

  .image-2 {
    max-width: 505px;
    height: auto;
  }

  .image-3 {
    max-width: 239px;
    height: auto;
  }
}
