<div class="page_container">
    <div class="outer_header_stepper_container" id="outer_header_stepper_container">
        <div class="header_stepper_container" id="header_stepper_inner_container">
            <ircc-cl-lib-header [id]="'header'"></ircc-cl-lib-header>
            <div class="stepper">
                <ircc-cl-lib-progress-indicator [config]="progressIndicatorConfig"
                    (tabClick)="progressTabButtonEvent($event)"></ircc-cl-lib-progress-indicator>
            </div>
        </div>
    </div>
    <p>{{'ACC_DEMO.NEXT_PAGE' | translate}}</p>
</div>
