<h2>Checkbox</h2>
<!-- Checkbox Test -->
<lib-checkbox [config]="qaCheckboxConfig"></lib-checkbox>
<button (click)="buttonActions('disableCheckbox')">Toggle Disable Checkbox</button>
<button (click)="buttonActions('checkboxError')">Toggle Error Checkbox</button>
<br>
<app-auto-tester [config]="testCheckboxComponentConfig"></app-auto-tester>
<h2>Input</h2>
<lib-input [config]="qaInputConfig"></lib-input>
<app-auto-tester [config]="testInputComponentConfig"></app-auto-tester>
<button (click)="buttonActions('inputError')">Toggle Single Error Input</button>
<button (click)="buttonActions('setInputError')">Set Input Errors</button>
<button (click)="buttonActions('removeInputError')">Remove Input Errors</button>
