@use "../../tokens/template-const" as template-const;
@use "../../util/size" as size;

@mixin selector {
  ircc-cl-lib-autocomplete#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin size-lg {
  ircc-cl-lib-flyout {
    top: 90px;
  }
}

@mixin size-sm {
}

@mixin layout {
  @include size.select(large) {
    @include size-lg();
    .small {
      @include size-sm();
    }
  }

  position: relative;

  button {
    padding: 5px !important;
  }

  .autocompleteicon {
    top: 55% !important;
    right: 5px !important;
  }

  input {
    padding-right: 35px !important;
  }

  ircc-cl-lib-flyout {
    position: absolute;
    width: 100%;
    top: 70px;

    &.large {
      top: 85px;
    }
  }
}
