@use "../../tokens/template-const" as template-const;

@mixin selector {
  ircc-cl-lib-autocomplete#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin layout {
  position: relative;

  button {
    padding: 5px !important;
  }

  .autocompleteicon {
    top: 60% !important;
    right: 5px !important;
  }

  input {
    padding-right: 35px !important;
  }

  ircc-cl-lib-flyout {
    position: absolute;
    width: 100%;
  }
}
