@use '../../../../../core-library/util/device' as device;
@use '~@ircc-ca/ds-sdc-core/typography/typography';

.content-doc-wrapper {
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.body1.intro {
  margin-top: 0px;
  margin-bottom: 0px;
}

.demo {
  margin-top: 0px;
  margin-bottom: 24px;
}

.sub-headings {
  margin-top: 0px;
  margin-bottom: 12px;
  font-weight: 700;
}

.description {
  margin: 12px 0 0 0;
}

p {
  @include typography.fontSet(body, 3, regular);
}

.types {
  .component-preview-container {
    margin-bottom: 24px;

    .description {
      margin-top: 28px;
    }

    .component-preview {
      @include typography.fontSet(heading, 6, regular);
      max-width: 400px;
    }
  }

  .component-preview-container:last-child {
    margin-bottom: 0px;
  }

  .icon-btn-preview {
    margin-top: 24px;
  }
}

.configs {
  .config-row {
    margin-bottom: 24px;
  }
  .config-row:last-child {
    margin-bottom: 0px;
  }

  ul {
    margin: 0px;
    padding-left: 25px;
  }

  li {
    font-size: 14px;
  }
}

.do-dont-container {
  margin-top: 8px;

  .do-dont-heading {
    margin: 0 0 12px 0;
  }
  .text-underline {
    border-bottom: 1px solid;
    padding-bottom: 4px;
  }
  .text-color-green {
    color: var(--green-8);
  }
  .text-color-red {
    color: var(--red-7);
  }
  p {
    margin: 0px;
  }
}

.design-guide {
  .wrapper-container {
    .element-wrapper-container {
      margin-bottom: 32px;
    }
    .element-wrapper-container:last-child {
      margin-bottom: 24px;
    }
  }
}

.content-guidelines {
  .wrapper-container {
    .element-wrapper-container {
      margin-bottom: 32px;
    }
    .element-wrapper-container:last-child {
      margin-bottom: 0px;
    }
  }
}

.anatomy {
  .anatomy-image-container {
    margin-bottom: 26px;
  }
  .anatomy-content-container {
    margin-bottom: 22px;

    .round-purple-num-heading-text {
      display: inline-block;
      margin: 0 0 2px 8px;
      position: relative;
      top: 2px;
    }
    .round-purple-num-count {
      color: var(--purple-9);
      font-weight: 700;
      background-color: var(--purple-2);
      border-radius: 50%;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
    }
    .counter-and-heading-container {
      margin: 0 0 6px 0;
      display: inline-flex;
    }
    .anatomy-description {
      margin: 0px;
    }
  }
  .anatomy-content-container:last-child {
    margin-bottom: 0px;
  }
}

.specs {
  .specs-description {
    margin: 24px 0 0 0;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  @include device.in-phone-layout() {
    flex-wrap: wrap;
  }
}

.column {
  width: 50%;

  @include device.in-phone-layout() {
    width: 100%;
  }
}

.left-column {
  margin-right: 12px;
  @include device.in-phone-layout() {
    margin-right: 0px;
  }
}

.right-column {
  margin-left: 12px;
  @include device.in-phone-layout() {
    margin-left: 0px;
    margin-top: 24px;
  }
}

.config-row {
  //most sections wrap responsively but the config section does not
  display: flex;
  justify-content: flex-start;
}

.column {
  width: 50%;

  @include device.in-phone-layout() {
    width: 100%;
  }
}

.figma-usage {
  .figma-row {
    display: grid;
    grid-template-columns: 2fr 1fr;

    @include device.in-tablet-layout() {
      grid-template-columns: 1fr;
    }

    .figma-column {
      max-width: 547px;

      @include device.in-tablet-layout() {
        max-width: 444px;
      }
    }

    .image-1 {
      max-width: 232px;
      height: auto;
    }
  }

  ol {
    padding-left: 20px;
    margin: 0 0 12px 0;
  }
}
.accessibility {
    .content-element {
    margin-bottom: 24px;

    p {
      margin: 8px 0
    }
  }
  .content-element:last-child {
    margin-bottom: 0px;
  }

  .content-list {
    padding-left: 20px;
    line-height: 20px;
    margin-bottom: 24px;

    .list-item {
      padding-bottom: 8px;
    }

    .list-item:last-child {
      padding-bottom: 0px;
    }
  }
}

.list-item {
  font-size: 14px;
  @include typography.fontSet(body, 3, regular);

  ::last-child {
    margin-bottom: 12px;
  }
}