@use "../../../../../core-library/util/device" as device;
@use "../../../scss/page";
@use "@ircc-ca/ds-sdc-core/typography/typography";

@include page.template;

.types {
  .component-preview {
    max-width: 236px;
    height: 193px;
  }
}

.figma-usage {
  .image-1 {
    max-width: 232px;
    height: auto;
  }
} 

section {
  &.accessibility {
    .element-wrapper-container {
      p {
        margin-top: 0;
        &.accessible {
          margin-top: 12px;
        }
      }
    }
  }
}