@use "../../util/color" as color;
@use "../../util/theme" as theme;
@use "../template-const" as template-const;
@use "../sizes" as sizes;
@use "../../util/device" as device;
@use "sass:map";

@mixin anchor-selector {
  a,
  .link {
    &#{template-const.$escape}:not(nav *) {
      &:not([category]) {
        @content;
      }
    }
  }
}

@mixin create() {
  @include tokens();
  @include anchor-selector() {
    @include layout();
  }
}

@mixin light-colors($cta: cta, $visited: visited, $focus: focus) {
  @include device.if-hover {
    --link-text-hover: #{color.mix-token($focus, 800)};
  }
  --link-text: #{color.mix-token($cta, 700)};
  --link-text-active: #{color.mix-token($cta, 900)};
  --link-text-visited: #{color.mix-token($visited, 800)};
}

@mixin dark-colors($cta: cta, $visited: visited, $focus: focus) {
  @include device.if-hover {
    --link-text-hover: #{color.mix-token($focus, 500)};
  }
  --link-text: #{color.mix-token($cta, 400)};
  --link-text-active: #{color.mix-token($cta, 300)};
  --link-text-visited: #{color.mix-token($visited, 500)};
}

@mixin tokens(
  $cta-palette: cta,
  $visited-palette: visited,
  $focus-palette: focus
) {
  html {
    @include light-colors($cta-palette, $visited-palette, $focus-palette);
  }

  html[scheme="dark"] {
    @include dark-colors($cta-palette, $visited-palette, $focus-palette);
  }

  html[scheme="system"] {
    @media (prefers-color-scheme: light) {
      @include light-colors($cta-palette, $visited-palette, $focus-palette);
    }
    @media (prefers-color-scheme: dark) {
      @include dark-colors($cta-palette, $visited-palette, $focus-palette);
    }
  }
}

@mixin layout {
  border-radius: sizes.$border-radius;
  padding: sizes.$fixed-2 sizes.$fixed-4;
  display: inline;

  &.no-underline {
    text-decoration: none;
  }

  &:link {
    color: var(--link-text);
  }
  @include device.if-hover {
    color: var(--link-text-hover);
    background-color: var(--generic-hover);
  }

  &:focus {
    box-shadow: none;
    outline-offset: 0;
  }

  &:active {
    color: var(--link-text-active);
    background-color: var(--generic-active);
  }

  &:visited {
    color: var(--link-text-visited);
  }
}
