markdown {
  pre {
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 84px 16px 16px;
  }
  // Copy button styling
  div:has(> jds-button.copy) {
    opacity: 1 !important;
    transition: none !important;
    top: 16px !important;
    left: 16px !important;
  }
}
