@use '@ircc-ca/ds-sdc-core/typography/typography';
@use 'grid';

$round-purple-num-size: 32px;

@mixin round-purple-num {
  color: var(--purple-9);
  background-color: var(--purple-2);
  border-radius: 50%;
  width: $round-purple-num-size;
  height: $round-purple-num-size;
  line-height: $round-purple-num-size;
  text-align: center;
}

@mixin template($d-flex: true) {
  @if ($d-flex) {
    :host {
      @include grid.row;
    }
  }

  .block {
    box-sizing: border-box;

    @include grid.up-laptop-layout {
      padding-right: 40px;
    }

    &__intro {
      margin-top: 0;
      margin-bottom: 0;
      @include typography.fontSet(body, 1, regular);
    }

    &__interactive-demo {
      .text {
        margin-top: 0;
        margin-bottom: 24px;
      }
    }

    &__configs,
    &__design-guide,
    &__anatomy,
    &__specs,
    &__content-guidelines,
    &__accessibility,
    &__types {
      .wrapper-container {
        .element-wrapper-container {
        margin-bottom: 24px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &__content-guidelines {
      .element-wrapper-container {
        p.sub-heading-text {
          margin: {
            top: 0;
            bottom: 12px;
          };
        }
      }
    }

    &__design-guide {
      p {
        margin: 0;
      }
    }

    &__anatomy {
      .anatomy-desc {
        margin: {
          top: 6px;
          bottom: 0;
        };
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      h3.round-purple-num-heading {
        display: inline-block;
        margin: 0 0 2px 8px;
        position: relative;
        top: 2px;
      }

      .anatomy-content-container {
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .counter-and-heading-container {
          display: flex;
        }
      }
    }

    &__specs {
      p {
        margin-bottom: 0;

        &:nth-child(1) {
          margin: 24px 0 0;
        }

        &:not(:nth-child(1)) {
          margin-top: 12px;
        }
      }
    }

    &__accessibility {
      ul {
        padding-left: 24px;
      }

      .element-wrapper-container {
        > p:not(:nth-child(2)) {
          margin-top: 8px;
        }
      }
    }

    &__accessibility,
    &__research {
      p {
        margin: {
          top: 0;
          bottom: 0;
        }
      }
    }

    &__types {
      p {
        margin-top: 12px;
        margin-bottom: 0;
      }
    }

    &__usage-figma {
      .image-container {
        filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.2));
      }
    }

    section {
      p {
        @include typography.fontSet(body, 3, regular);
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }

  h5,
  h3,
  h4 {
    margin-top: 0;
    margin-bottom: 12px;

    @include typography.fontSet(heading, 5, emphasis);

    &.text-underline,
    &.do-dont-heading {
      border-bottom: 1px solid;
      padding-bottom: 4px;
      margin: 8px 0;
    }

    &.text-color-green {
      color: var(--green-8);
    }

    &.text-color-red {
      color: var(--red-7);
    }

    &.round-purple-num {
      display: inline-block;
      margin-left: 8px;
      margin-bottom: 0;
      position: relative;
      top: 2px;

      &:not(:nth-child(2)) {
        margin-top: 22px;
        top: 2px;
      }
    }
  }

  ul {
    margin: 0;
    padding-left: 24px;

    @include typography.fontSet(body, 3, regular);
  }

  ol {
    @include typography.fontSet(body, 3, regular);

    margin: 12px 0 0;
    padding-left: 24px;
  }

  // Numbered bullet points
  span {
    &.round-purple-num {
      @include typography.fontSet(body, 3, emphasis);

      display: inline-block;

      @include round-purple-num;
    }
  }

  div.round-purple-num-count {
    font-weight: 700;

    @include round-purple-num;
  }

  // Spacing
  .pt_8 {
    padding-top: 8px;

    &.col-md-6 {
      padding-top: 0;

      @include grid.up-phone-layout {
        padding-top: 8px;
      }
    }
  }

  .mt_8 {
    margin-top: 8px;
  }

  .mt_12 {
    margin-top: 12px;
  }

  .mb_12 {
    margin-bottom: 12px;
  }

  .align-btm {
    display: flex;
    align-items: flex-end;
  }

  .justify-ctr {
    display: flex;
    justify-content: center;
  }

  @include grid.up-phone-layout() {
    .col-md-6:nth-child(odd) {
      padding-right: 12px;
    }

    .col-md-6:nth-child(even) {
      padding-left: 12px;
    }
  }

  @include grid.in-phone-layout {
    .col-md-6:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  // Do Donts
  .do-dont-container,
  .do-dont-desc {
    p {
      margin: 0;
    }
  }
}
