<div class="content-doc-wrapper col-12 col-lg-9 col-xl-10">
  <app-title-slug-url
    [translate]="'Buttons.Title'"
    type="primary"
    >Button</app-title-slug-url
  >
  <p>{{ 'Buttons.Intro' | translate }}</p>
  <app-info-text-small>
    {{ 'Buttons.IntroAlert' | translate }}
  </app-info-text-small>
  <div class="button-types">
    <app-title-slug-url
      [translate]="'Buttons.TypesHeading'"
    ></app-title-slug-url>
    <h5 [style.margin-top]="'7px'">
      {{ 'Buttons.PrimaryHeading' | translate }}
    </h5>
    <app-component-preview
      copyText="<button>{{ 'Buttons.PrimaryBtnText' | translate }}</button>"
    >
      <button>{{ 'Buttons.PrimaryBtnText' | translate }}</button>
    </app-component-preview>
    <p>{{ 'Buttons.PrimaryText' | translate }}</p>
    <h5>{{ 'Buttons.SecondaryHeading' | translate }}</h5>
    <app-component-preview
      copyText="<button category='secondary'>{{
        'Buttons.SecondaryIBtnText' | translate
      }}</button>"
    >
      <button category="secondary">
        {{ 'Buttons.SecondaryIBtnText' | translate }}
      </button>
    </app-component-preview>
    <p>{{ 'Buttons.SecondaryText' | translate }}</p>
    <h5>{{ 'Buttons.CriticalHeading' | translate }}</h5>
    <app-component-preview
      copyText="<button color='critical'>{{
        'Buttons.CriticalBtnText' | translate
      }}</button>"
    >
      <button color="critical">
        {{ 'Buttons.CriticalBtnText' | translate }}
      </button>
    </app-component-preview>
    <p>{{ 'Buttons.CriticalText' | translate }}</p>
    <h5>{{ 'Buttons.PlainHeading' | translate }}</h5>
    <app-component-preview
      [style.width]="'300px'"
      copyText="<button category='plain'>{{
        'Buttons.PlainBtnText' | translate
      }}</button>"
    >
      <button category="plain">{{ 'Buttons.PlainBtnText' | translate }}</button>
    </app-component-preview>
    <app-component-preview
      [style.width]="'300px'"
      copyText="<button category='plain' color='critical'>{{
        'Buttons.PlainCritBtnText' | translate
      }}</button>"
    >
      <button
        category="plain"
        color="critical"
      >
        {{ 'Buttons.PlainCritBtnText' | translate }}
      </button>
    </app-component-preview>
    <p>{{ 'Buttons.PlainText' | translate }}</p>
  </div>
  <div class="button-configs">
    <app-title-slug-url
      [translate]="'Buttons.ConfigurationsHeading'"
    ></app-title-slug-url>
    <div class="row">
      <div class="col-12 col-md-6">
        <h5 [style.margin-top]="0">
          {{ 'Buttons.ConfigSizeHeading' | translate }}
        </h5>
        <ul>
          <li>{{ 'Buttons.ConfigSizeSmall' | translate }}</li>
          <li>{{ 'Buttons.ConfigSizeLarge' | translate }}</li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <h5 [style.margin-top]="0">
          {{ 'Buttons.ConfigLayoutHeading' | translate }}
        </h5>
        <ul>
          <li>{{ 'Buttons.ConfigLayoutFluid' | translate }}</li>
          <li>{{ 'Buttons.ConfigLayoutFixed' | translate }}</li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <h5>{{ 'Buttons.ConfigIconHeading' | translate }}</h5>
        <ul>
          <li>{{ 'Buttons.ConfigIconNone' | translate }}</li>
          <li>{{ 'Buttons.ConfigIconLeading' | translate }}</li>
          <li>{{ 'Buttons.ConfigIconTrailing' | translate }}</li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <h5>{{ 'Buttons.ConfigStateHeading' | translate }}</h5>
        <ul>
          <li>{{ 'Buttons.ConfigStateDefault' | translate }}</li>
          <li>{{ 'Buttons.ConfigStateHover' | translate }}</li>
          <li>{{ 'Buttons.ConfigStateActive' | translate }}</li>
          <li>{{ 'Buttons.ConfigStateActive' | translate }}</li>
          <li>{{ 'Buttons.ConfigStateFocus' | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="button-design-guide">
    <app-title-slug-url
      [translate]="'Buttons.DesignGuidelinesHeading'"
    ></app-title-slug-url>
    <h5 [style.margin-top]="0">{{ 'Buttons.HierarchyHeading' | translate }}</h5>
    <div class="row">
      <div class="col-12 col-md-6">
        <img
          src="assets/img/btn-do-1.jpg"
          alt="{{ 'Buttons.HierarchyDoImgAlt' | translate }}"
        />
        <h5 class="text-underline text-color-green">
          {{ 'Buttons.DoHeading' | translate }}
        </h5>
        <p>{{ 'Buttons.HierarchyDoText' | translate }}</p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="assets/img/btn-do-2.jpg"
          alt="{{ 'Buttons.HierarchyDontImgAlt' | translate }}"
        />
        <h5 class="text-underline text-color-red">
          {{ 'Buttons.DontHeading' | translate }}
        </h5>
        <p>{{ 'Buttons.HierarchyDontText' | translate }}</p>
      </div>
    </div>
    <h5 [style.margin-top]="'16px'">
      {{ 'Buttons.DestructiveHeading' | translate }}
    </h5>
    <div class="row">
      <div class="col-12 col-md-6">
        <img
          src="assets/img/btn-do-3.jpg"
          alt="{{ 'Buttons.DestructiveDoImgAlt' | translate }}"
        />
        <h5 class="text-underline text-color-green">
          {{ 'Buttons.DoHeading' | translate }}
        </h5>
        <p>{{ 'Buttons.DestructiveDoText' | translate }}</p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="assets/img/btn-do-4.jpg"
          alt="{{ 'Buttons.DestructiveDontImgAlt' | translate }}"
        />
        <h5 class="text-underline text-color-red">
          {{ 'Buttons.DontHeading' | translate }}
        </h5>
        <p>{{ 'Buttons.DestructiveDontText' | translate }}</p>
      </div>
    </div>
    <h5 [style.margin-top]="'16px'">
      {{ 'Buttons.PlainBtnTexts' | translate }}
    </h5>
    <div class="row">
      <div class="col-12 col-md-6">
        <img
          src="assets/img/btn-do-5.jpg"
          alt="{{ 'Buttons.PlainDoImgAlt' | translate }}"
        />
        <h5 class="text-underline text-color-green">
          {{ 'Buttons.DoHeading' | translate }}
        </h5>
        <p>{{ 'Buttons.PlainDoText' | translate }}</p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="assets/img/btn-do-6.jpg"
          alt="{{ 'Buttons.PlainDontImgAlt' | translate }}"
        />
        <h5 class="text-underline text-color-red">
          {{ 'Buttons.DontHeading' | translate }}
        </h5>
        <p>{{ 'Buttons.PlainDontText' | translate }}</p>
      </div>
    </div>
    <h5 [style.margin-top]="'14px'">
      {{ 'Buttons.SpacingGroupsHeading' | translate }}
    </h5>
    <img
      src="assets/img/button-design-spacing.jpg"
      alt="{{ 'Buttons.SpacingGroupsImgAlt' | translate }}"
    />
    <p>{{ 'Buttons.SpacingGroupsText' | translate }}</p>
    <h5 [style.margin-top]="'14px'">
      {{ 'Buttons.MinMaxWidthHeading' | translate }}
    </h5>
    <img
      src="assets/img/button-design-width.jpg"
      alt="{{ 'Buttons.MinMaxWidthImgAlt' | translate }}"
    />
    <p>{{ 'Buttons.MinMaxWidthText' | translate }}</p>
  </div>
  <div class="button-anatomy">
    <app-title-slug-url
      [translate]="'Buttons.AnatomyHeading'"
    ></app-title-slug-url>
    <img
      src="assets/img/anatomy-image-button.jpg"
      alt="{{ 'Buttons.AnatomyImgAlt' | translate }}"
    /><br />
    <span class="round-purple-num">1</span>
    <h5 class="round-purple-num">
      {{ 'Buttons.AnatomyBGHeading' | translate }}
    </h5>
    <p [style.margin-bottom]="0">{{ 'Buttons.AnatomyBGText' | translate }}</p>
    <span class="round-purple-num">2</span>
    <h5 class="round-purple-num">
      {{ 'Buttons.ConfigIconHeading' | translate }}
    </h5>
    <p [style.margin-bottom]="0">{{ 'Buttons.AnatomyIconText' | translate }}</p>
    <span class="round-purple-num">3</span>
    <h5 class="round-purple-num">
      {{ 'Buttons.AnatomyLblHeading' | translate }}
    </h5>
    <p>{{ 'Buttons.AnatomyLblText' | translate }}</p>
  </div>
  <div class="button-specs">
    <app-title-slug-url
      [translate]="'Buttons.SpecsHeading'"
    ></app-title-slug-url>
    <img
      src="assets/img/button-specs.jpg"
      alt="{{ 'Buttons.SpecsImgAlt' | translate }}"
    />
    <p>{{ 'Buttons.SpecsText' | translate }}</p>
  </div>
  <div class="button-content-guidelines">
    <app-title-slug-url
      [translate]="'Buttons.ContentGuidelinesHeading'"
    ></app-title-slug-url>
    <h5 [style.margin-top]="0">{{ 'Buttons.CaseHeading' | translate }}</h5>
    <div class="row">
      <div class="col-12 col-md-6">
        <img
          src="assets/img/button-content-guide-1.jpg"
          alt="{{ 'Buttons.CaseDoImgAlt' | translate }}"
        /><br />
        <h5 class="text-underline text-color-green">
          {{ 'Buttons.DoHeading' | translate }}
        </h5>
        <p>{{ 'Buttons.CaseDoText' | translate }}</p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="assets/img/button-content-guide-2.jpg"
          alt="{{ 'Buttons.CaseDontImgAlt' | translate }}"
        /><br />
        <h5 class="text-underline text-color-red">
          {{ 'Buttons.DontHeading' | translate }}
        </h5>
        <p>{{ 'Buttons.CaseDontText' | translate }}</p>
      </div>
    </div>
    <h5>{{ 'Buttons.DescriptiveHeading' | translate }}</h5>
    <div class="row">
      <div class="col-12 col-md-6">
        <img
          src="assets/img/button-content-guide-3.jpg"
          alt="{{ 'Buttons.DescriptiveDoImgAlt' | translate }}"
        /><br />
        <h5 class="text-underline text-color-green">
          {{ 'Buttons.DoHeading' | translate }}
        </h5>
        <p>{{ 'Buttons.DescriptiveDoText' | translate }}</p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="assets/img/button-content-guide-4.jpg"
          alt="{{ 'Buttons.DescriptiveDontImgAlt' | translate }}"
        /><br />
        <h5 class="text-underline text-color-red">
          {{ 'Buttons.DontHeading' | translate }}
        </h5>
        <p>{{ 'Buttons.DescriptiveDontText' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="button-usage-figma">
    <app-title-slug-url
      [translate]="'Buttons.FigmaHeading'"
    ></app-title-slug-url>
    <div class="row">
      <div class="col-12 col-md-8">
        <h5 [style]="'margin-top: 0; margin-bottom: 12px;'">
          {{ 'Buttons.FigmaDirectionsHeading' | translate }}
        </h5>
        <ol>
          <li [innerHtml]="'Buttons.FigmaDirectionsListItem1' | translate"></li>
          <li [innerHtml]="'Buttons.FigmaDirectionsListItem2' | translate"></li>
          <li [innerHtml]="'Buttons.FigmaDirectionsListItem3' | translate"></li>
          <li [innerHtml]="'Buttons.FigmaDirectionsListItem4' | translate"></li>
        </ol>
      </div>
      <div class="col-12 col-md-4">
        <img
          src="assets/img/button-figma.png"
          alt="{{ 'Buttons.FigmaDirectionsImgAlt' | translate }}"
        />
      </div>
    </div>
  </div>
  <div class="button-accessibility">
    <app-title-slug-url
      [translate]="'Buttons.AccessibilityHeading'"
    ></app-title-slug-url>
    <h5 [style.margin-top]="0">
      {{ 'Buttons.AccessibilityColourHeading' | translate }}
    </h5>
    <p>{{ 'Buttons.AccessibilityColourText' | translate }}</p>
    <h5 [style.margin-top]="0">
      {{ 'Buttons.AccessibilityKeyboardHeading' | translate }}
    </h5>
    <p>{{ 'Buttons.AccessibilityKeyboardText' | translate }}</p>
  </div>
  <div class="button-research">
    <app-title-slug-url
      [translate]="'Buttons.ResearchHeading'"
    ></app-title-slug-url>
    <p>{{ 'Buttons.ResearchText' | translate }}</p>
  </div>
</div>
<app-side-nav
  class="right-nav col-12 col-lg-3 col-xl-2"
  [navBarData]="rightNavData"
></app-side-nav>
