<div>
  <div class="header">
    <ircc-cl-lib-header [id]="'header'"></ircc-cl-lib-header>
    <!-- <div class="container">
      <h1 class="emphasis">{{ 'Overview.SubHeading' | translate }}</h1>
      <div>
        <a routerLink="/en/overview">overview</a>
        <a routerLink="/en/mahsa-en">mahsa</a>
        <a routerLink="/en/michael-en">michael</a>
        <a routerLink="/en/mike-en">mike</a>
        <a routerLink="/en/naseer-en">naseer</a>
        <a routerLink="/en/accessibility-demo">Accessibility Demo</a>
        <a routerLink="/en/banner-doc">Banner Documentation</a>
        <a routerLink="/en/codeview">Codeview</a>
        <a routerLink="/en/button-doc">Button Documentation</a>
        <a routerLink="/en/input-documentation">Input Documentation</a>
      </div>
    </div> -->
  </div>
  <main>
    <div class="main-container top {{ navStatus }}">
      <!-- <app-side-nav
        [navBarData]="leftNavData"
        [mobileToggleIcon]="true"
      ></app-side-nav> -->

      <ircc-cl-lib-navigation
        class="left-nav"
        [config]="navConfig"
        [attr.size]="navConfig.size"
      >
        <div navigationContentTop>
          <div
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            "
          >
            <p>Header projected content</p>
            <img [src]="randomHeader" />
          </div>
        </div>
        <div navigationContentBottom>
          <div
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            "
          >
            <p>Footer projected content</p>
            <img [src]="randomFooter" />
          </div>
        </div>
      </ircc-cl-lib-navigation>

      <ircc-cl-lib-navigation
        class="left-nav"
        [config]="navConfigLarge"
        [attr.size]="navConfigLarge.size"
      >
        <div navigationContentTop>
          <div
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            "
          >
            <p>Header projected content</p>
            <img [src]="randomHeader" />
          </div>
        </div>
        <div navigationContentBottom>
          <div
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            "
          >
            <p>Footer projected content</p>
            <img [src]="randomFooter" />
          </div>
        </div>
      </ircc-cl-lib-navigation>
      <div
        class="content"
        role="main"
      >
        <div class="content-area-responsive">
          <div class="page-content">
            <router-outlet></router-outlet>
            <p>{{ 'Home.DateModified' | translate }}: 2023-02-10</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer -->
  <ircc-cl-lib-footer> </ircc-cl-lib-footer>
</div>
<div navigationContentTop><span>Header projected Area</span></div>
