<div>
  <div class="header">
    <ircc-cl-lib-header
      [id]="'header'"
      [themeToggle]="true"
    >
      <div
        class="container"
        headerContent
      >
        <h2
          [ngClass]="{ h4: mobile }"
          class="strong"
        >
          {{ 'Overview.SubHeading' | translate }}
        </h2>
      </div>
    </ircc-cl-lib-header>
  </div>
  <main>
    <div
      class="main-container top {{ navStatus }}"
      style="margin-top: 200px"
    >
      <nav>
        <ircc-cl-lib-navigation
          class="left-nav"
          [attr.size]="navConfig.size"
        >
        </ircc-cl-lib-navigation>
      </nav>
      <div class="content-router-outlet">
        <div class="content-area-responsive">
          <div class="page-content">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="date-modified-container">
          <p class="date-modified">
            {{ 'Home.DateModified' | translate }}: {{ dateModified }}
          </p>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer -->
  <ircc-cl-lib-footer></ircc-cl-lib-footer>
</div>
