@use "../../util/color" as color;
@use "../../util/theme" as theme;
@use "../../util/device" as device;
@use "../../util/size" as size;
@use "../../tokens/template-const" as template-const;
@use "../../tokens/sizes" as token-size;
@use "../../typography/typography" as typography;
@use "../../tokens/text" as text;
@use "sass:map";

@mixin selector {
  ircc-cl-lib-flyout-option#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin small-styles {
  .option {
    &-text {
      @include typography.fontSet(body, 3, regular);
    }
  }
}

@mixin large-styles {
  .option {
    &-text {
      @include typography.fontSet(body, 2, regular);
    }
  }
}

@mixin layout {
  .option {
    &-container {
      margin: 0;
      padding: 0;

      > ircc-cl-lib-button {
        .lib-button {
          display: block;
          overflow: visible;
          padding: 0;
          max-width: none;

          &:hover {
            background: none;
          }
        }
      }
    }

    &-contents {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 8px 16px;
    }

    &-text {
      padding: 0;
      margin: 0;

      .bolded {
        font-weight: 600;
      }
      .normal {
        font-weight: 400;
      }
    }

    &-check {
      color: var(--navigation);
    }
  }

  @include size.select(small) {
    @include small-styles;
    .large {
      @include large-styles;
    }
  }

  @include size.select(large) {
    @include large-styles;
    .small {
      @include small-styles;
    }
  }
}
