<h1>Select Dropdown Testing:</h1>
<lib-select [config]="qaSelect"></lib-select>
<app-auto-tester [config]="autoTestConfig"></app-auto-tester>
<button (click)="disable()">Disable</button>
<button (click)="setSamllError()">Small Error</button>
<button (click)="setLargeError()">Large Error</button>
<button (click)="resetError()">Reset Error</button>
<hr>
<h1>Tabs Testing:</h1>
<lib-tabs [config]="qaTabs"></lib-tabs>
<br>
<button (click)="disableSelectedBtn()">Disbale Tab</button>
<button (click)="size()">Size</button>

<hr>
<h1>Tags Testing:</h1>
<lib-progress-tags [config]="qaTags"></lib-progress-tags>
<br>
<app-auto-tester [config]="tagTestConfig"></app-auto-tester>
