<ul class="parent-navigation">
  <ng-container
    *ngTemplateOutlet="
      recursiveListTmpl;
      context: { list: this.config.children, index: 0 }
    "
  ></ng-container>
</ul>

<ng-template
  #recursiveListTmpl
  let-list="list"
  let-index="index"
>
  <li *ngFor="let item of list">
    <ng-container [ngSwitch]="item.type">
      <ng-container *ngSwitchCase="'IRecursionItem'">
        {{ item.id }} - {{ item.check }}
        <ul>
          <ng-container
            *ngTemplateOutlet="
              recursiveListTmpl;
              context: { list: this.item.children, index: 0 }
            "
          ></ng-container>
        </ul>
      </ng-container>

      <ng-container *ngSwitchCase="'IRecursionItemAccordion'">
        {{ item.id }} - {{ item.value }}
        <ul>
          <ng-container
            *ngTemplateOutlet="
              recursiveListTmpl;
              context: { list: this.item.children, index: 0 }
            "
          ></ng-container>
        </ul>
      </ng-container>
    </ng-container>
  </li>
</ng-template>

<button (click)="toggleChildren($event)">click</button>
