@use '../../util/color' as color;
@use '../../util/theme' as theme;
@use '../../util/device' as device;
@use '../../util/size' as size;
@use '../../tokens/template-const' as template-const;
@use '../../tokens/sizes' as token-size;
@use '../../typography/typography' as typography;
@use '../../tokens/text' as text;
@use 'sass:map';

@mixin selector {
    lib-progress-tags#{template-const.$escape} {
        @content;
    }
}

@mixin create {
    @include selector() {
        @include layout();
    }
}

@mixin types($category: information){
    .#{$category}{
        background-color: var(--#{$category}-alert-background);
        .tag-left{
            .tag-icon {
                color: var(--#{$category}-alert-icon);
            }
            .content {
                --text: var(--#{$category}-alert-text);
            }
        }
    }
}

@mixin large-styles(){
    .tag-container {
        padding: 4px 8px;
    }
    .tag-icon {
        height: 16px;
        width: 16px;
        line-height: 16px;
        font-weight: 400;
    }
    .content {
        margin-left: 6px;
        font-size: 14px;
    }
    // .tag-title {
    //     font-size: 20px;
    // }
    // .banner-content{
    //     font-size: 16px;
    // }
    // .banner-text{
    //     gap: 8px;
    // } 
}

@mixin small-styles(){
    .tag-container{
        padding: 2px 8px; 
    }
    .tag-icon{
        height: 12px;
        width: 12px;
        line-height: 16px;
        font-weight: 400;
    }
    .content {
        margin-left: 5px;
        font-size: 12px;
    }
    // .tag-title{
    //     font-size: 16px;
    // }   
    // .tag-content{
    //     font-size: 14px;
    // }
    // .tag-text{
    //     gap: 4px;
    // }
}

@mixin layout {

    @include size.selector(large){
        @include large-styles();
        .small{
            @include small-styles();
        }
    }

    @include size.selector(small){
        @include small-styles();
        .large{
            @include large-styles();
        }
    }

    .tag-component {
        width: 100%;
        height: auto;
        background-color: var(--neutral-alert-background);
        display: flex;
        flex-direction: row;
        position: relative;
        transition: opacity 0.2s linear;
        border-radius: 100px;
    }

    .tag-container {
        display: flex;
        // flex-direction: row;
        // align-items: center;
        // gap: 12px;
        width: 100%;
    }

    .tag-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        height: 100%;
        gap: 12px;

        div {
            align-items: center;
            display: flex;
        }
    }

    .tag-content {
        align-self: flex-start;
        * {
            margin: 2px 0;
        }
    }

    @include types(information);
    @include types(success);
    @include types(critical);
}
