@use '../../../../../core-library/util/device' as device;
@use "../../../scss/page";
@use '@ircc-ca/ds-sdc-core/typography/typography';

@include page.template;

.types {
  .component-preview {
    max-width: 400px;
  }
}

::ng-deep {
  app-component-preview {
    .background-white.preview-wrapper {
      padding: {
        top: 24px;
        bottom: 14px;
      };
    }
  }
}
