@use '../../../../../core-library/util/device' as device;
@use "../../../scss/grid";
@use "../../../scss/page";
@use '@ircc-ca/ds-sdc-core/typography/typography';

@include page.template;

.block {
  &__types {
    .component-preview {
      max-width: 400px;
      padding-bottom: 16px;
    }

    .banner-preview {
      margin-top: 24px;
    }
  }
  &__accessibility {
    ul {
      padding-left: 0;
    }
  }
  &__usage-figma {
    .image-container {
      width: 163px;
      margin-left: 86px;
      @include grid.up-phone-layout {
        margin-top: 12px;
      }
    }
  }
}
