@use "../../util/device";
@use "../../util/theme";
@use "../../util/color";
@use "../template-const";

@mixin create() {
  @include tokens();
}

@mixin light-colors($palette, $text-palette) {
  @include device.if-hover {
    --primary-background-hover: #{color.mix-token($palette, 800)};
    --secondary-border-hover: #{color.mix-token($palette, 800)};
  }

  --primary-background: #{color.mix-token($palette, 700)};
  --primary-background-active: #{color.mix-token($palette, 900)};
  --primary-background-disabled: #{color.mix-token($palette, 300)};
  --primary-btn-text: #{color.mix-token($text-palette, 100)};
  --primary-btn-text-disabled: #{color.mix-token($text-palette, 100)};

  --secondary-btn-text: #{color.mix-token($palette, 700)};
  --secondary-border-active: #{color.mix-token($palette, 900)};
  --secondary-btn-text-disabled: #{color.mix-token($palette, 300)};

  --link-btn-text: #{color.mix-token($palette, 700)};
  --link-btn-text-disabled: #{color.mix-token($palette, 300)};
}

@mixin dark-colors($palette, $text-palette) {
  @include device.if-hover {
    --primary-background-hover: #{color.mix-token($palette, 500)};
    --secondary-border-hover: #{color.mix-token($palette, 300)};
  }

  --primary-background: #{color.mix-token($palette, 600)};
  --primary-background-active: #{color.mix-token($palette, 400)};
  --primary-background-disabled: #{color.mix-token($palette, 1000)};
  --primary-btn-text: #{color.mix-token($text-palette, 200)};
  --primary-btn-text-disabled: #{color.mix-token($text-palette, 1200)};

  --secondary-btn-text: #{color.mix-token($palette, 400)};
  --secondary-border-active: #{color.mix-token($palette, 200)};
  --secondary-btn-text-disabled: #{color.mix-token($palette, 1200)};

  --link-btn-text: #{color.mix-token($palette, 400)};
  --link-btn-text-disabled: #{color.mix-token($palette, 900)};
}

@mixin tokens($palette: cta, $text-palette: neutral) {
  html {
    @include light-colors($palette, $text-palette);
  }

  html[scheme="dark"] {
    @include dark-colors($palette, $text-palette);
  }

  html[scheme="system"] {
    @media (prefers-color-scheme: light) {
      @include light-colors($palette, $text-palette);
    }
    @media (prefers-color-scheme: dark) {
      @include dark-colors($palette, $text-palette);
    }
  }
}
