@use "../../util/theme" as theme;
@use "../../util/size" as size;
@use "../../typography/typography" as text;
@use "../sizes" as token-size;
@use "../template-const";
$selectors: "button";

@mixin button-size-padding {
  @include size.select(small) {
    padding: token-size.$small-padding;
  }

  @include size.select(large) {
    padding: token-size.$large-padding;
  }
}

@mixin selector {
  #{$selectors}#{template-const.$escape} {
    @content;
  }
}

@mixin layout {
  &[fill-container] {
    width: 100%;
  }

  border-radius: token-size.$border-radius;
  border-style: none;
  justify-content: center;
  cursor: pointer;
  max-width: 400px;

  &:disabled {
    cursor: not-allowed;
  }

  @include button-size();
  @include button-size-padding();

  color: var(--text);
}

@mixin layout-round {
  border-radius: token-size.$border-radius-circle;
  border-style: none;
  justify-content: center;
  aspect-ratio: 1 / 1;
  @include button-size();

  color: var(--text);
}
@mixin button-size {
  @include size.select(small) {
    @include text.fontSet(heading, 6, regular);
    min-width: 52px;
  }

  @include size.select(large) {
    @include text.fontSet(heading, 5, regular);
    min-width: 64px;
  }
}
