@use "../../util/color" as color;
@use "../text" as text;
@use "../../util/theme" as theme;
@use "../template-const" as template-const;
@use "./button-const" as button-const;
@use "./button-tokens" as b-tokens;
@use "../../util/device" as device;
@use "../sizes" as sizes;

$plain: "plain";
$default-color: null;

@mixin create() {
  @include button-const.selector() {
    &:where([category="#{$plain}"]) {
      &:where([color="critical"]) {
        @include b-tokens.light-colors(critical, neutral);
        @include layout();
      }
      &:not([color]) {
        @include layout();
      }
    }
  }
}

@mixin layout() {
  @include button-const.layout();
  --text: var(--plain-text);
  background-color: transparent;
  color: var(--text);
  @include device.if-hover {
    background: var(--generic-hover);
  }

  &:active {
    background: var(--generic-active);
  }

  &:disabled {
    --text: var(--plain-text-disabled);
    color: var(--text);
    background: var(--surface1);
  }
}
