@use "../../util/color" as color;
@use "../text" as text;
@use "../../util/theme" as theme;
@use "../template-const" as template-const;
@use "./button-const" as button-const;
@use "../../util/device" as device;
@use "./button-tokens" as b-tokens;
@use "../sizes" as sizes;
$secondary: "secondary";

@mixin create() {
  @include button-const.selector() {
    &:where([category="#{$secondary}"]) {
      &:where([color="critical"]) {
        @include b-tokens.light-colors(critical, neutral);
        @include b-tokens.dark-colors(critical, neutral);
        @include layout();
      }
      &:not([color]) {
        @include layout();
      }
    }
  }
}

@mixin layout() {
  @include button-const.layout();
  --text: var(--secondary-text);
  box-shadow: sizes.$border-style;
  background-color: var(--surface1);

  @include device.if-hover {
    background-color: var(--generic-hover);
  }

  &:active {
    background-color: var(--generic-active);
  }

  &:disabled {
    --text: var(--secondary-text-disabled);
    color: var(--text);
    background-color: var(--surface1);
    border-color: var(--secondary-border-disabled);
  }

  &:focus {
    box-shadow: sizes.$border-style, sizes.$focus-shadow;
  }
}
