@use "../../util/color" as color;
@use "../text" as text;
@use "../../util/theme" as theme;
@use "../template-const" as template-const;
@use "./button-const" as button-const;
@use "../../util/device" as device;
@use "./button-tokens" as b-tokens;
@use "../sizes" as sizes;
$secondary: "secondary";

@mixin light-colors() {
  @include button-const.selector() {
    &:where([category="#{$secondary}"]) {
      &:where([color="critical"]) {
        @include b-tokens.light-colors(critical, neutral);
        @include layout();
      }
      &:not([color]),
      &:where([color="cta"]) {
        @include layout();
      }
    }
  }
}

@mixin dark-colors() {
  @include button-const.selector() {
    &:where([category="#{$secondary}"]) {
      &:where([color="critical"]) {
        @include b-tokens.dark-colors(critical, neutral);
        @include layout();
      }
      &:not([color]),
      &:where([color="cta"]) {
        @include layout();
      }
    }
  }
}

@mixin create() {
  html {
    @include light-colors();
  }

  html[scheme="dark"] {
    @include dark-colors();
  }

  html[scheme="system"] {
    @media (prefers-color-scheme: light) {
      @include light-colors();
    }
    @media (prefers-color-scheme: dark) {
      @include dark-colors();
    }
  }
}

@mixin layout() {
  @include button-const.layout();
  --text: var(--secondary-btn-text);
  border: 1px solid var(--text);
  box-shadow: sizes.$border-style;
  background-color: transparent;

  @include device.if-hover {
    background-color: var(--generic-hover);
  }

  &:active {
    background-color: var(--generic-active);
  }

  &:disabled {
    --text: var(--secondary-btn-text-disabled);
    box-shadow: 0px 0px 0px 1px var(--text) inset;
    @include device.if-hover {
      background-color: transparent;
    }
  }

  &:focus {
    box-shadow: sizes.$border-style, sizes.$focus-shadow;
  }
}
