<div class="container">
  <div class="tabs">
    <ng-content select="[tabs]"></ng-content>
  </div>
  <div class="component_container">
    <div class="test_component">
      <ng-content select="[component]"></ng-content>
    </div>
  </div>
  <div class="toggles-accordion">
    <button
      class="hide-show-button"
      category="plain"
      (click)="toggle()"
    >
      <div
        class="icon-container"
        [class.flip-chevron]="isOpen"
      >
        <ircc-cl-lib-icon
          class="{{ iconConfig.class }} custom-chevron"
        ></ircc-cl-lib-icon>
      </div>
      <p class="label-text">{{ accordionText | translate }}</p>
    </button>
  </div>
  <div
    class="toggles"
    *ngIf="isOpen"
  >
    <ng-content select="[toggles]"></ng-content>
  </div>
</div>
