@import '../../../assets/scss/partials/variables';

mat-expansion-panel-header {
  padding: 0 !important;
  padding-right: 4px !important;
}

.mat-expansion-panel {
  background-color: $pale !important;
  padding-bottom: 2vh !important;
}

.mat-expansion-panel-header:hover,
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  background: $pale !important;
}

.mat-expansion-panel-header {
  height: 43px !important;
}

.filter-sub-header {
  font-size: 1rem;
  padding-left: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 0px;
  color: $semi-dark;
}

.mat-expansion-panel-body {
  padding-left: 14px !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: $primary !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $primary;
}

.checkbox-filter {
  margin-right: 10px;
  margin-bottom: 0px !important;
}

.checkbox-title {
  color: $semi-dark;
  margin: 14px 0 0 5px;
}

.filter-content,
.inventory-processing-stage-items {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #252525;
    border-radius: 15px;
    height: 0.6rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.mat-ripple-element {
  display: none !important;
}
