.nav-tabs {
  border-bottom: none;

  .mat-tab-label {
    color: #888888;
    font-size: 0.875rem;
    line-height: 22px;
  }

  .mat-tab-label-active {
    font-weight: 700;
    color: #252525;
  }

}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #172B4D;
  height: 6px;
}
