@use "../../util/device" as device;
@use "../../tokens/template-const" as template-const;
@use "../../typography/typography" as typography;
@use "sass:map";

@mixin selector {
  ircc-cl-lib-language-switch#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin layout {
  a {
    padding: 0;
    margin-bottom: 28px;
    margin-top: 24px;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: underline;
    @include typography.fontSet(body, 2, regular);
    color: var(--link-text);
    
    &:visited {
        color: var(--link-text-visited);
      } 
  }
}
