// Base colours
$primary: #2a6543;
$secondary: #172b4d;
$dark: #252525;
$light: #ffffff;
$pale: #f5f5f5;
$moderate: #d9d9d9;
$mid-dark: #888888;
$semi-dark: #535252;
$light-primary: #f3f9f3;
// Function colours
$alert: #df2632;
$warning: #ffc400;
$neutral-update: #0077cc;
$positive: #0c8a0a;
$positive5Percent: #0c8a0a05;
$white12Percent: #bbbbbb12;

//IRCCCA NEW COLOURS
$ircc-ca-black: #161617;
$ircc-ca-white: #ffffff;
$ircc-ca-border: #b2b2b4;
$ircc-ca-focus: #4974f5;
$ircc-ca-global-neutral: #868687;
$ircc-ca-global-neutral-surface: #f5f5f7;
$ircc-ca-neutral-text-secondary: #59595a;
$ircc-ca-box-shadow: rgba(0, 0, 0, 0.1);
$ircc-ca-active-background: rgba(89, 89, 90, 0.12);
$ircc-ca-hover-background: rgba(89, 89, 90, 0.06);
$ircc-ca-modal-backdrop: rgba(44, 44, 45, 0.8);
$ircc-ca-textarea-scrollbar: rgb(67, 67, 68, 1);
$ircc-ca-border-card: rgba(0, 0, 0, 0.125);
$ircc-ca-card-hover-none: rgba(0, 0, 0, 0.03);
$ircc-ca-primary-cta: #29497f;

$ircc-ca-focus: hsl(225deg, 90%, 62%);
$ircc-ca-focus-weak: hsl(225deg, 91%, 91%);

$ircc-ca-auto-hint-text: #6f6f71;

$ircc-ca-error: #ab2225;
$ircc-ca-error-background: #faedee;
$ircc-ca-error-border: #931c1f;
$ircc-ca-error-active: #eacaca;

$ircc-banner-info: #1f83a1;
$ircc-banner-info-background: #edf7fa;
$ircc-banner-info-border: #269abc;
$ircc-banner-warning: #bd6413;
$ircc-banner-warning-background: #faf3ed;
$ircc-banner-warning-border: #e07616;
$ircc-banner-critical: #931c1f;
$ircc-banner-success-background: #edfaf4;
$ircc-banner-success-border: #08a657;

$ircc-ca-checked-active-red: #7b1619;
$ircc-ca-error-border-background: #dea8a9;
$ircc-ca-checked-hover-blue: #3c60ce;
$ircc-ca-checked-background-blue: #b8c9fc;
$ircc-ca-hover-border: #59595a;
$ircc-ca-disabled-border: #dfdfe1;
$ircc-chip-icon-default: #b2b2b4;
$ircc-chip-icon-hover: #868687;
$ircc-chip-icon-active: #59595a;
$ircc-chip-icon-focus: #9c9c9d;
$ircc-auto-complete-description: #6F6F71;

// Effects
@mixin focus-state {
  background: #c4c4c4;
  box-shadow: 0px 0px 0px 2px rgba(42, 101, 67, 0.2);
}

@mixin secondary-focus {
  background: #c4c4c4;
  box-shadow: 0px 0px 0px 3px rgba(23, 43, 77, 0.3);
}

@mixin danger-focus {
  background: #c4c4c4;
  box-shadow: 0px 0px 0px 3px rgba(223, 38, 50, 0.3);
}

@mixin danger-input-focus {
  box-shadow: 0px 0px 0px 3px rgba(223, 38, 50, 0.3);
}

@mixin pressed {
  background: #c4c4c4;
  box-shadow: inset 0px 0px 4px 2px rgba(37, 37, 37, 0.5);
}

@mixin drop-shadow-left {
  box-shadow: -3px 3px 10px 0 lighten($semi-dark, 15%);
}

@mixin button($background, $color) {
  @include body-font(400, 14px, 22px);
  color: $color;
  background: $background;
  text-align: center;
  padding: 4px 24px;
  display: inline-block;
  border: 1px $color solid;
  border-radius: 16px;
}
 
@mixin cta-button($width) {
  font-family: 'Lato', sans-serif;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  color: $ircc-ca-white;
  background-color: $ircc-ca-primary-cta !important;
  min-width: $width;
  max-width: fit-content;
  max-height: 60px;
}

// Typography
@mixin body-font($weight, $size, $lh) {
  font-family: 'Lato', sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
}

@mixin strip-button {
  border: none;
  background: none;
}

@mixin auth-first-heading {
  font-size: 1.25rem;
  font-weight: 400;
  color: $primary;
  line-height: 1.5rem;
  margin-bottom: 24px;
}

@mixin invalid-red-border {
  box-shadow: 0px 0px 0px 3px rgba(223, 38, 50, 0.3);
  border-radius: 2px;
  border: 1px solid $alert;
}

.gray-bg {
  background: $pale;
}

.dark-gray-bg {
  background: $moderate;
}

@mixin alert-major {
  border: 1px solid $alert;
  box-shadow: inset 4px 4px 15px 3px $white12Percent;
  border-radius: 13px;
}

@mixin centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

// breakpoints
$bp-desktop: 1440px;
$bp-laptop: 1024px;
$bp-tablet: 768px;
$bp-large: 992px;
