<h2> Click the Component you want to test</h2>
<button (click)="buttonActions('inputComponent')">Input Component</button>
<button (click)="buttonActions('textareaComponent')">Textarea Component</button>
<button (click)="buttonActions('dropDownComponent')">Drop Down</button>
<button (click)="buttonActions('iconButtonComponent')">Icon Buttons</button>


<ng-container *ngIf="showInputComponent === true">
  <h2>Input Component</h2>
  <lib-input [config]="qaInput"></lib-input>
  <app-auto-tester [config]="testInputComponentConfig"></app-auto-tester>
  <button (click)="buttonActions('disable-input')">Disable</button>
</ng-container>

<ng-container *ngIf="showTextareaComponent === true">
  <h2>TextArea Component</h2>
  <lib-textarea [config]="qaTextareaInput"></lib-textarea>
  <app-auto-tester [config]="testTextareaComponentConfig"></app-auto-tester>
  <button (click)="buttonActions('inputError')">Toggle Single Error Input</button>
  <button (click)="buttonActions('setInputError')">Set Input Errors</button>
  <button (click)="buttonActions('removeInputError')">Remove Input Errors</button>
  <button (click)="buttonActions('disable-textarea')">Disable</button>
</ng-container>

<ng-container *ngIf="showDropDownComponent === true">
  <h2>Dropdown Component</h2>
  <div class="select-component">
    <lib-dropdown size="small"></lib-dropdown>
  </div>
</ng-container>


<ng-container *ngIf="showIconButtonComponent === true">
  <h2>Icon button and Button Component</h2>
  <br><br>
  <div>
    <lib-icon-button ariaLabel="test-icon" class="test-icon" [config]="qaButton"></lib-icon-button>
    <lib-icon-button class="test-icon" [category]="'custom'" [icon]="customIconConfigTest" [size]="'large'"></lib-icon-button>
    <lib-icon-button class="test-icon" [category]="'primary'"  [size]="'large'"></lib-icon-button>
    <lib-icon-button class="test-icon" [category]="'primary'"  [size]="'large'"></lib-icon-button>
    <div class="button-container-test">
      <lib-button [config]="testButtonConfig">Test</lib-button>
      <lib-button id="test-button-1" icon="fa-regular fa-igloo">Test Button</lib-button>
      <lib-button id="test-button-2" icon="fa-regular fa-igloo" iconDirection="left">Supeeeeeeeeeeeeeeeeeeeeeeeeer long Buttooooooooooooooon labeeeeeeeeeeeeeel</lib-button>
      <lib-button id="test-button-2" icon="fa-regular fa-igloo" iconDirection="right">Supeeeeeeeeeeeeeeeeeeeeeeeeer long Buttooooooooooooooon labeeeeeeeeeeeeeel</lib-button>
    </div>
  </div>
  <button (click)="disable()">Disable</button>
</ng-container>

