<!-- <lib-input [config]="qaInput"></lib-input> -->
<!-- <div class="component-container"> -->
    <lib-textarea [config]="qaTextareaInput"></lib-textarea>
<!-- </div> -->

<app-auto-tester [config]="testComponentConfig"></app-auto-tester>
<button (click)="disable()">Disable</button>
<!-- <lib-icon-button ariaLabel="test-icon" class="test-icon" [config]="qaButton"></lib-icon-button>
<lib-icon-button class="test-icon" [category]="'custom'" [icon]="customIconConfigTest" [size]="'large'"></lib-icon-button>
<lib-icon-button class="test-icon" [category]="'primary'"  [size]="'large'"></lib-icon-button>
<lib-button [config]="testButtonConfig">Test</lib-button>
<lib-button id="test-button-1" icon="fa-regular fa-igloo">Test Button</lib-button>
<lib-button id="test-button-2" icon="fa-regular fa-igloo" iconDirection="right">Supeeeeeeeeeeeeeeeeeeeeeeeeer long Buttooooooooooooooon labeeeeeeeeeeeeeel</lib-button> -->
<lib-button id="test-button-2" icon="fa-regular fa-igloo" iconDirection="right">Supeeeeeeeeeeeeeeeeeeeeeeeeer long Buttooooooooooooooon labeeeeeeeeeeeeeel</lib-button>
<div class="select-component">
    <lib-dropdown size="small"></lib-dropdown>
</div>
<button (click)="buttonActions('inputError')">Toggle Single Error Input</button>
<button (click)="buttonActions('setInputError')">Set Input Errors</button>
<button (click)="buttonActions('removeInputError')">Remove Input Errors</button>
