<div class="content-doc-wrapper col-12 col-lg-9 col-xl-10">
  <app-title-slug-url
    [config]="progressIndictorTitleSlugConfig"
  ></app-title-slug-url>
  <p class="intro body1">{{ 'ProgressIndicator.Intro' | translate }}</p>

  <section class="interactive-demo">
    <app-title-slug-url
      [config]="headingConfig.interactiveDemoSlugConfig"
    ></app-title-slug-url>
    <p class="body3">
      {{ 'General.InteractiveDemoDesc1' | translate }}
      <strong>
        {{ ('ProgressIndicator.MainTitle' | translate).toLowerCase() }}</strong
      >
      {{ 'General.InteractiveDemoDesc2' | translate }}
    </p>
    <app-progress-indicator-doc-code></app-progress-indicator-doc-code>
  </section>
</div>
<app-side-nav
  class="right-nav col-12 col-lg-3 col-xl-2"
  [rightNavLOVs]="rightNavData"
></app-side-nav>