@use '../../util/color' as color;
@use '../../util/theme' as theme;
@use '../../util/device' as device;
@use '../../util/size' as size;
@use '../../tokens/template-const' as template-const;
@use '../../tokens/sizes' as token-size;
@use '../../typography/typography' as typography;
@use '../../tokens/text' as text;
@use 'sass:map';

@mixin selector {
  lib-input#{template-const.$escape} {
      @content;
  }
}

@mixin create {
  @include selector() {
      @include layout();
  }
}

@mixin size-large() {
  .input-password-field {
    margin-top: 8px;
    height: 54px;
    padding-right: 56px;
  }

  .input-text-field {
    margin-top: 8px;
    height: 54px;
  }

  .passwordIcon {
    font-size: 20px;
    padding: 12px 16px 12px 16px;
  }
}

@mixin size-small() {
  .input-password-field {
    padding: 10px 44px 10px 12px; 
    margin-top: 4px;
    height: 42px;
  }

  .input-text-field {
    padding: 10px 12px 10px 12px; 
    margin-top: 4px;
    height: 42px;
  }

  .passwordIcon {
    font-size: 16px;
    padding: 6px 12px 6px 12px;
  }

  lib-error {
    font-size: 14px;
  }
}

@mixin layout {

  .input-container {
    user-select: none;
  }

  @include size.selector(large) {
    @include size-large();
    .small {
      @include size-small()
    }
  }

  @include size.selector(small) {
    @include size-small();
    .large {
      @include size-large()
    }
  }

  .input-content-area{
    position: relative;
    .input-password-field {
      box-sizing: border-box;
    }

    .input-text-field {
      box-sizing: border-box;
      resize: none;
    }

    .passwordIcon {
      position: absolute;
      top: 56%;
      right: 0px;
      transform: translate(0%, -50%);
      justify-self: flex-end;
      align-self: flex-end;
      margin-bottom: 0px;
      background: transparent;
      z-index: 1;
      color: var(--text-primary);
    }

    button:disabled {
      color: var(--text-disabled);
    }

  }

  .check-error {
    padding: 8px 0;
  }

  .sr-only {
      clip: rect(0 0 0 0); 
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap; 
      width: 1px;
  }
}
