@use '../../util/color' as color;
@use '../../util/theme' as theme;
@use '../../util/device' as device;
@use '../../util/size' as size;
@use '../../tokens/template-const' as template-const;
@use '../../tokens/sizes' as token-size;
@use '../../typography/typography' as typography;
@use '../../tokens/text' as text;
@use 'sass:map';

@mixin selector {
  jl-pr-sclp-input#{template-const.$escape} {
      @content;
  }
}

@mixin create {
  @include selector() {
      @include layout();
  }
}

@mixin size-large-test() {
  .input-label {
    font-size: 20px;
    font-weight: 700;
  }

  .input-desc {
    font-size: 16px;
    // margin: 4px 0px 0px 0px;
  }

  .input-hint {
    font-size: 16px;
    margin: 12px 0px 0px 0px;
  }

  .required-star {
    font-size: 16px;
  }

  .password-field{
    height: 52px;
  }

  .text-field {
    height: 76px
  }

  .passwordIcon {
    svg {
      width: 22.5px;
      height: 17.5px;
    }
    
  }
}

@mixin size-small-test() {

  .input-label {
    font-size: 16px;
    font-weight: 700;
  }

  .input-desc {
    font-size: 14px;
    // margin: 4px 0px 0px 0px;
  }

  .input-hint {
    font-size: 14px;
    margin: 8px 0px 0px 0px;
  }

  .required-star {
    font-size: 12px;
    // margin-right: 5px;
  }

  .password-field{
    height: 40px;
  }

  .text-field {
    height: 60px
  }

  .passwordIcon {
    svg {
      width: 18px;
      height: 14px;
    }
  }
}

@mixin layout {

  .input-container {
    user-select: none;
  
    .input-text {
      width: 100%;
      display: grid;
      position: relative;
      
      .input-label {
        display: flex;
      }
      .input-desc {
        margin: 4px 0px 0px 0px;
      }

      .input-hint {
        color: #6F6F71;
      }
      .required-star {
        color: var(--critical-text);
        font-weight: 400;
        line-height: 16px;
        justify-self:flex-start;
        margin-right: 5px;
      }
    }
  }

  @include size.selector(large) {
    @include size-large-test();
    .small {
      @include size-small-test()
    }  
  }

  @include size.selector(small) {
    @include size-small-test();
    .large {
      @include size-large-test()
    }  
  }

  .input-content-area{
    position: relative;
    .input-field {
      box-sizing: border-box;
      padding-right: 50px;
      // height: 40px;
      margin-top: 4px;
    }

    .passwordIcon {
      top: 4px;
      right: 0px;
      position: absolute;
      justify-self: flex-end;
      align-self: flex-end;
      margin-bottom: 0px;
      background: transparent;
      z-index: 1;
      padding-right: 10px;
    
      &:focus{
        box-shadow: none;
        outline: none;
      }
    }
  }
}