@use "../../util/color" as color;
@use "../../util/theme" as theme;
@use "../../util/device" as device;
@use "../../util/size" as size;
@use "../../tokens/template-const" as template-const;
@use "../../tokens/sizes" as token-size;
@use "../../typography/typography" as typography;
@use "../../tokens/text" as text;
@use "sass:map";
@use "../../util/accessibility" as a11y;

@mixin selector {
  ircc-cl-lib-textarea#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin size-large() {
  .textarea-field {
    min-height: 78px;
    padding: 14px 16px 14px 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .character-count {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0px;
  }
}

@mixin size-small() {
  .textarea-field {
    min-height: 62px;
    padding: 10px 16px 10px 14px;
    font-size: 14px;
    line-height: 20px;
  }

  .character-count {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0px;
  }

  ircc-cl-lib-error {
    font-size: 14px;
  }
}

@mixin at-resize($value: none) {
  .resize-#{$value} {
    textarea {
      resize: $value;
    }
  }
}

@mixin layout {
  @include size.select(large) {
    @include size-large();
    .small {
      @include size-small();
    }
  }

  @include size.select(small) {
    @include size-small();
    .large {
      @include size-large();
    }
  }

  .textarea-container {
    .content-area {
      display: block;

      .character-count {
        text-align: left;
        color: var(--text-placeholder);
      }

      .character-count.maxLimit {
        color: var(--critical-text);
      }

      .character-count.warningLimit {
        color: var(--warning-text);
      }

      textarea {
        display: block;
        box-sizing: border-box;

        &:disabled {
          &::placeholder {
            color: var(--text-disabled);
          }
        }
      }

      .sr-only {
        @include a11y.sr-only;
      }
    }
  }

  @include at-resize(none);
  @include at-resize(both);
  @include at-resize(horizontal);
  @include at-resize(vertical);
}
