@use '../../util/color' as color;
@use '../../util/theme' as theme;
@use '../../util/device' as device;
@use '../../util/size' as size;
@use '../../tokens/template-const' as template-const;
@use '../../tokens/sizes' as token-size;
@use '../../typography/typography' as typography;
@use '../../tokens/text' as text;
@use 'sass:map';

@mixin selector {
  lib-textarea#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin size-large() {
  .textarea-label {
    font-size: 20px;
    font-weight: 700;
  }

  .textarea-desc {
    font-size: 16px;
  }

  .textarea-hint {
    font-size: 16px;
    margin: 12px 0px 0px 0px;
  }

  .required-star {
    font-size: 16px;
  }

  // .textarea-field {
  //   margin-top: 8px;
  //   // height: 54px;
  // }

  // .content-area {
  //   height: 78px;

    .textarea-field {
      height: 78px;
      padding: 14px 16px 14px 20px; 
      margin-top: 8px;
      font-size: 16px;
      line-height: 24px;
    }
  // }
}

@mixin size-small() {

  .textarea-label {
    font-size: 16px;
    font-weight: 700;
  }

  .textarea-desc {
    font-size: 14px;
  }

  .textarea-hint {
    font-size: 14px;
    margin: 8px 0px 0px 0px;
  }

  .required-star {
    font-size: 12px;
  }


  .textarea-field {
    height: 62px;
    padding: 10px 16px 10px 14px; 
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
  }

  lib-error {
    font-size: 14px;
  }
}

@mixin at-resize($value: none) {
  .resize-#{$value}{
    textarea {
      resize: $value;
    }
  }
}

@mixin layout {

  @include size.selector(large) {
    @include size-large();
    .small {
        @include size-small()
    }
  }
    
  @include size.selector(small) {
    @include size-small();
    .large {
      @include size-large()
    }
  }

  .textarea-container {
    .textarea-label {
      display: flex;
      font-family: 'Lato'
    }
    .textarea-desc {
      margin: 4px 0px 0px 0px;
    }
    .textarea-hint {
      color: #6F6F71;
    }
    .required-field-container {
      display: flex;
      .required-star {
          color: var(--critical-text);
          font-weight: 400;
          line-height: 16px;
          justify-self:flex-start;
          margin-right: 5px;
      }
    }

    .content-area {
      // display: flex;
      // flex-direction: row-reverse;
      display: inline-block;
      
      p {
        // display: flex;
        // justify-content: flex-end;
      }
      
      textarea {
        display: block;
        max-width: 100%;
        box-sizing: border-box;
      }
    }
  }

  @include at-resize(none);
  @include at-resize(both);
  @include at-resize(horizontal);
  @include at-resize(vertical);
}