.title-slug-wrapper {
  display: flex;
  align-items: center;
}

.h1-heading-type {
  h1 {
    margin: 0px;
  }
  margin: {
    top: 48px;
    bottom: 24px;
  }
}
.h2-heading-type {
  h2 {
    margin: 0px;
  }
  margin: {
    top: 80px;
    bottom: 24px;
  }
}

ircc-cl-lib-button {
  margin-left: 8px;
}
