<h1
  *ngIf="config.heading === 'h1'"
  id="{{ config.title | translate | SlugifyPipe }}"
  [className]="config.type"
>
  <strong>{{ config.title | translate }}</strong>
</h1>
<h2
  *ngIf="config.heading !== 'h1'"
  [ngClass]="'h3'"
  id="{{ config.title | translate | SlugifyPipe }}"
  [className]="config.type"
>
  <strong>{{ config.title | translate }}</strong>
</h2>
<a
  [className]="config.anchorType"
  routerLink="{{ windowPathname }}"
  fragment="{{ config.title | translate | SlugifyPipe }}"
  cdkCopyToClipboard="{{ windowOrigin }}{{ windowPathname }}#{{
    config.title | translate | SlugifyPipe
  }}"
>
  {{ 'Buttons.CopyURL' | translate }}
</a>
