@use "../../util/theme" as theme;
@use "../../util/size" as size;
@use "../../tokens/sizes" as token-size;
@use "../../tokens/template-const";
@use "../../typography/typography" as typography;
@use "../../tokens/text" as text;
@use "../../util/accessibility" as a11y;
@use "sass:map";

@mixin selector {
  ircc-cl-lib-date-picker#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin size-large() {
  @media (max-width: 530px) {
    .all-select-container {
      .select-year {
        min-width: 136px;
      }

      .select-month {
        min-width: 136px;
      }

      .select-day {
        min-width: 136px;
      }
    }
    .radio-errors {
      min-width: 136px;
    }
  }

  @media (min-width: 529px) {
    .all-select-container {
      .select-year {
        width: 136px;
      }

      .select-month {
        width: 136px;
      }

      .select-day {
        width: 136px;
      }
    }
  }
}

@mixin size-small() {
  @media (max-width: 530px) {
    .all-select-container {
      .select-year {
        min-width: 124px;
        margin-bottom: 12px;
      }

      .select-month {
        min-width: 124px;
        margin-bottom: 12px;
      }

      .select-day {
        min-width: 124px;
      }
    }
    .radio-errors {
      min-width: 124px;
    }
  }

  @media (min-width: 529px) {
    .all-select-container {
      .select-year {
        width: 124px;
      }

      .select-month {
        width: 124px;
        margin-left: 12px;
      }

      .select-day {
        width: 124px;
        margin-left: 12px;
      }
    }
  }
}

@mixin layout {
  @include size.select(large) {
    @include size-large();

    .small {
      @include size-small();
    }
  }

  @include size.select(small) {
    @include size-small();

    .large {
      @include size-large();
    }
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 530px) {
    .all-select-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .select-year {
        margin-bottom: 12px;
      }

      .select-month {
        margin-bottom: 12px;
      }
    }
    .radio-errors {
      width: 124px;
    }
  }

  @media (min-width: 529px) {
    .all-select-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .select-month {
        margin-left: 12px;
      }

      .select-day {
        margin-left: 12px;
      }
    }
  }

  .date-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .label {
      text-align: left;
    }

    .date-input {
      height: 40px;
      border-radius: 4px;
      flex: 1;
      min-width: 120px;
    }
  }

  select::placeholder {
    text-align: left;
    margin-left: 0px;
  }

  ::-webkit-input-placeholder {
    text-align: left;
  }

  :-moz-placeholder {
    text-align: left;
  }

  .sr-only {
    @include a11y.sr-only;
  }
}
