@use '../../util/theme'as theme;
@use '../../util/size'as size;
@use '../../tokens/sizes'as token-size;
@use '../../tokens/template-const';
@use '../../typography/typography'as typography;
@use '../../tokens/text'as text;
@use 'sass:map';

@mixin selector {
  lib-date-picker#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin size-large() {
  @media (max-width: 530px) {
    .all-select-container {
      .select-year {
        width: 180px;
      }

      .select-month {
        width: 180px;
      }

      .select-day {
        width: 180px;
      }
    }
  }

  @media (min-width: 529px) {
    .all-select-container {
      .select-year {
        width: 136px;
      }

      .select-month {
        width: 136px;
      }

      .select-day {
        width: 136px;
      }
    }
  }
}

@mixin size-small() {

  @media (max-width: 530px) {
    .all-select-container {
      .select-year {
        width: 152px;
        margin-bottom: 12px;
      }

      .select-month {
        width: 152px;
        margin-bottom: 12px;
      }

      .select-day {
        width: 152px;
      }
    }
  }

  @media (min-width: 529px) {
    .all-select-container {
      .select-year {
        width: 124px;
      }

      .select-month {
        width: 124px;
        margin-left: 12px;
      }

      .select-day {
        width: 124px;
        margin-left: 12px;
      }
    }
  }

}

@mixin layout {

  @include size.selector(large) {
    @include size-large();

    .small {
      @include size-small()
    }
  }

  @include size.selector(small) {
    @include size-small();

    .large {
      @include size-large()
    }
  }

  @media (max-width: 530px) {
    .all-select-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .select-year {
        margin-bottom: 12px;
      }

      .select-month {
        margin-bottom: 12px;
      }

      .select-day {
        width: 180px;
      }
    }
  }

  @media (min-width: 529px) {
    .all-select-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .select-year {
        width: 136px;
      }

      .select-month {
        margin-left: 12px;
      }

      .select-day {
        margin-left: 12px;
      }
    }
  }

  .date-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .label {
      text-align: left;
    }

    .date-input {
      height: 40px;
      border-radius: 4px;
      flex: 1;
      min-width: 120px;
    }
  }

  select::placeholder {
    text-align: left;
    margin-left: 0px
  }

  ::-webkit-input-placeholder {
    text-align: left;
  }

  :-moz-placeholder {
    text-align: left;
  }

  .sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}