@use '../../tokens/template-const' as template-const;
@use '../../typography/typography' as typography;
 
@mixin selector {
    lib-secondary-chips#{template-const.$escape} {
        @content;
    }
}

@mixin create {
    @include selector() {
        @include layout();
    }
}

@mixin layout {
.secondary-chip {
    @include typography.fontSet(body, 3, regular);
    font-style: normal;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 4px;
    //taken from component stylehseet will need to updated border-color: $ircc-ca-disabled-border;
    //color: $ircc-ca-hover-border;
    display: flex;
    align-items: center;
    height: 28px;
    width: fit-content;
    padding: 4px 6px 4px 8px;
}
}
