@use "../../../../../core-library/util/device" as device;

.content-doc-wrapper {
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;
}

h3 {
  display: inline-block;
  font-weight: 700;

  &.primary {
    font-size: 36px;
  }

  &.secondary {
    font-size: 28px;
    margin-top: 60px;
  }
}

.body1.intro {
  margin-top: 0px;
  margin-bottom: 0px;
}

.form-container {
  max-width: 872px;

  //Margin above form inputs:
  .type-request-radio-container,
  .request-title-text-area-container,
  .request-details-text-area-container,
  .use-case-text-area-container,
  .references-text-area-container,
  .urgent-request-radio-container,
  .urgent-details-container,
  .date-requested-container {
    margin-top: 32px;
  }

}

.banner-container {
  margin-top: 24px;
}

.submit-request-container {
  margin-top: 48px;
  max-width: 139px;
}