@use 'src/scss/grid';
@use '~@ircc-ca/ds-sdc-core/typography/typography';

:host {
  @include grid.row;
  @include grid.up-phone-layout() {
    .col-md-6:nth-child(odd) {
      padding-right: 12px;
    }
    .col-md-6:nth-child(even) {
      padding-left: 12px;
    }
  }

  .design-txt {
    @include typography.fontSet(body, 1, regular);
    margin: 0;
  }
  .descriptions {
    &.about {
      .link {
        padding: 0;
      }
    }
    &.last {
      margin-bottom: 0
    }
    @include typography.fontSet(body, 3, regular);
    margin: {
      top: 0;
      bottom: 8px;
    };
  }

  img {
    margin-top: 24px;
  }
}