@use "../../util/color" as color;
@use "../../util/theme" as theme;
@use "../../util/device" as device;
@use "../../util/size" as size;
@use "../../tokens/template-const" as template-const;
@use "../../tokens/sizes" as token-size;
@use "../../typography/typography" as typography;
@use "../../tokens/text" as text;
@use "sass:map";

@mixin selector {
  ircc-cl-lib-banner#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin types($category: information) {
  .#{$category} {
    background-color: var(--#{$category}-alert-background);

    .banner-left {
      .banner-line {
        background-color: var(--#{$category}-alert-border);
      }

      .banner-icon {
        color: var(--#{$category}-alert-icon);
      }
    }
  }
}

@mixin large-styles() {
  .banner-icon {
    height: 24px;
    width: 24px;
    line-height: 24px;
    font-weight: 300;
  }

  .banner-btn {
    top: 11px;
    right: 13px;
  }

  .banner-title {
    font-size: 20px;
  }

  .banner-content {
    font-size: 16px;
  }

  .banner-container {
    padding: 16px 16px 16px 16px;
  }

  .banner-text {
    gap: 8px;
  }

  .cta-link {
    font-size: 20px;
  }
}

@mixin small-styles() {
  .banner-icon {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-weight: 300;
  }

  .banner-btn {
    top: 8px;
    right: 7px;
  }

  .banner-title {
    font-size: 16px;
  }

  .banner-content {
    font-size: 14px;
  }

  .banner-container {
    padding: 12px 12px 12px 12px;
  }

  .banner-text {
    gap: 4px;
  }

  .cta-link {
    font-size: 16px;
  }
}

@mixin layout {
  @include size.select(large) {
    @include large-styles();

    .small {
      @include small-styles();
    }
  }

  @include size.select(small) {
    @include small-styles();

    .large {
      @include large-styles();
    }
  }

  .banner-component {
    width: 100%;
    height: auto;
    background-color: var(--neutral-alert-background);
    display: flex;
    flex-direction: row;
    position: relative;
    transition: opacity 0.2s linear;
  }

  .banner-btn {
    position: absolute;
  }

  .banner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
  }

  .banner-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .banner-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100%;
    gap: 12px;

    div {
      align-items: center;
      display: flex;
    }
  }

  .banner-line {
    height: 90%;
    width: 4px;
    border-radius: 4px;
  }

  .banner-text {
    width: 95%;
    overflow-wrap: break-word;
    align-self: center;
    display: flex;
    flex-direction: column;
  }

  .banner-content {
    align-self: flex-start;
    word-break: break-word;

    * {
      margin: 2px 0;
    }
  }

  .banner-ctas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
    margin-top: 15px;

    .cta-link {
      align-self: center;
      cursor: pointer;
      text-decoration: underline;
      text-underline-offset: 3px;
      color: var(--link-text);

      &:visited {
        color: var(--link-text-visited);
      }
    }
  }

  .rounded {
    border-radius: 4px;
  }

  .bannerDismissed {
    opacity: 0;
    transition: opacity 0.7s linear;
  }

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .noDisplay {
    display: none;
  }

  @include types(information);
  @include types(critical);
  @include types(warning);
  @include types(success);
}
