<div class="pageContainer">
    <form [formGroup]="form">
        <h6><strong>Step 1: Create your profile</strong></h6>
        <h2><strong>Status in Canada</strong></h2>
        <div class="identityContainer">
            <h5><strong>Identity verification</strong></h5>
            <p class="orangeIdentityText">We are looking </p>
            <p class="identityText">to understand your Canadian immigration history for identity verification purposes.
            </p>
        </div>
        <!----------------------------- Current Status  --------------------------->
        <div class="formContainer">
            <h6><strong>What is your current status in Canada?</strong></h6>
            <lib-radio-input [config]="radioConfig" [formControlName]="radioConfig.id"></lib-radio-input>
        </div>
        <!---------------------------------- Date ------------------------->
        <div class="secondaryFormContainer" *ngIf="form.get(radioConfig.id)?.value === statusTypes.resident">
            <div class="dateContainer">
                <div class="dateTextContainer">
                    <h6><strong>What data did you obtain permanent residence status?</strong></h6>
                    <p class="dateGray">You can find this information on your record of landing or confirmation of permanent residence.
                    </p>
                </div>
                <div class="datePickerContainers">
                    <div class="datePicker">
                        <div *ngFor="let config of dateInputConfigs" class="datePickerInput">
                            <jl-pr-sclp-input [config]="config" [formControlName]="config.id">
                            </jl-pr-sclp-input>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------------- UCI ----------------------->
            <div class="uciContainer">
                <div class="uciTextContainer">
                    <h6><strong>What is your Unique Client Identifier (UCI) or Client ID with
                            Immigration, Refugee and Citizenship Canada?</strong></h6>
                    <p class="uciDetails">A UCI is formatted as follows:</p>
                    <div class="uciList">
                        <ul>
                            <li>four numbers, a hyphen and four more numbers (Example: 0000-0000)</li>
                            <li>two numbers, a hyphen, four numbers, a hyphen and four more numbers (Example:
                                00-0000-0000)
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="uciInput">
                    <jl-pr-sclp-input [config]="uciInputConfig"
                        [formControlName]="uciInputConfig.id"></jl-pr-sclp-input>
                </div>
            </div>
            <!---------------- When you became a permanent resident (...) ------------------>
            <div class="changeNameContainer">
                <div class="changeNameTextContainer">
                    <h6><strong>When you became a permanent resident did you use the same name as the one you provided
                            in this application?</strong></h6>
                    <p class="changeNameDetails">An example of an other name could be maiden name, nickname, or alias.
                    </p>
                </div>
                <div class="changeNameRadio">
                    <lib-radio-input [config]="nameChangeConfig" [formControlName]="nameChangeConfig.id">
                    </lib-radio-input>
                </div>
            </div>
        </div>
        <div class="buttonsContainer">
            <div>
                <button category="plain" [routerLink]="'/home'">
                    <i class="fa-regular fa-arrow-left"></i>
                    Previous
                </button>
            </div>
            <div class="buffer"></div>
            <div>
                <button (click)="checkValidity()">Next
                    <i class="fa-regular fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </form>
    <p>{{formIsValid}}</p>
</div>