.pageContainer {
    margin-left: 40px;

    .identityContainer {
        .orangeIdentityText, .identityText {
            display: inline;
        }
        .orangeIdentityText {
            color: orange;
        }
    }

    .formContainer,
    .dateContainer {
        margin-top: 32px;
        max-width: 500px;
    }

    p.dateTextContainer {
        color: gray;
    }

    .datePickerContainers {
        max-width: 500px;
        width: auto;
        display: inline-block;
        .datePicker {
            margin-right: 12px;
            display: flex;
            flex-direction: row;
        }
        .datePickerInput {
            margin-right: 12px;
        }
    }

    .uciContainer {
        max-width: 500px;
        margin-top: 12px;
        .uciDetails {
            margin-top: -12px;
        }
        .uciList {
            margin-top: -12px;
        }
    }

    .changeNameContainer {
        max-width: 500px;
        margin-top:32px;
        .changeNameRadio, .changeNameDetails {
            margin-top: -12px;
        }
    }

    .buttonsContainer {
        max-width: 752px;
        margin-top: 64px;
        width: auto;
        display: flex;
        flex-direction: row;
        .buffer {
            flex-grow: 1;
        }
    }
}