@use "../../../../../core-library/util/device" as device;

.link {
  color: var(--navy-7);

  &:hover {
    color: var(--blue-8);
  }

  &:focus {
    outline-width: 0px 0px  0px 3px;
    outline-color: var(--blue-7);
    outline-offset: 2px;
    border-radius: 4px;
  }

  &:active {
    color: var(--navy-9);
  }

  &:visited {
    color: var(--purple-8);
  }

  &.no-underline {
    text-decoration: none;
  }
}