<div class="pageContainer">
    <div class="configTestCol">
        <p>HELLO WORLD</p>
        <lib-test></lib-test>

        <!-- Checkbox Test -->
        <div class="demoCheckboxContainer">
            <div class="demoCheckbox" *ngFor="let checkbox of checkboxesConfigs">
                <jl-pr-sclp-checkbox [config]="checkbox"
                                     (valueChange)="valueChange($event)"></jl-pr-sclp-checkbox>
            </div>
        </div>

        <!-- Dropdown Test -->
        <div class="demoDropdownContainer">
            <jl-pr-sclp-dropdown [config]="dropdownConfig"
                                 (valueChange)="valueChange($event)"></jl-pr-sclp-dropdown>
        </div>

        <!-- Input Test -->
        <br>
        <div>
            <div class="demoInput">
                <jl-pr-sclp-input [label]="inputComponentConfig.label" [placeholder]="inputComponentConfig.placeholder"
                    [id]="inputComponentConfig.id" (valueChange)="valueChange($event)">
                </jl-pr-sclp-input>
            </div>
            <div class="demoInput">
                <jl-pr-sclp-input [label]="inputTestPasswordConfig.label" [type]="inputTestPasswordConfig.type"
                    [id]="inputTestPasswordConfig.id" (valueChange)="valueChange($event)">
                </jl-pr-sclp-input>
            </div>
        </div>
        <!-- Radio Input Test -->
        <br>
        <div>
            <lib-radio-input [config]="radioConfig"
                             (valueChange)="valueChange($event)"></lib-radio-input>
        </div>
    </div>

    <!-- Non-Config Tests -->
    <div class="nonConfigTestCol">
        <div class="demoCheckboxContainer">
            <div class="demoCheckbox" *ngFor="let checkbox of checkboxesConfigs">
                <jl-pr-sclp-checkbox [id]="(checkbox.id + '_nonConfig')"
                                     [label]="checkbox.label || undefined"
                                     [small]="checkbox.small || undefined"
                                     [error]="checkbox.error || undefined"
                                     [disabled]="checkbox.disabled || undefined"
                                     (valueChange)="valueChange($event)"></jl-pr-sclp-checkbox>
            </div>
        </div>
    </div>

    <div class="displayCol">
        <div>
            <h3>Values in Input</h3>
            <ng-container *ngFor="let element of demoTextArray">
                <h6>{{element.id}}:</h6>
                <p>{{element.value}}</p>
            </ng-container>
        </div>
    </div>
</div>