.pageContainer {
  margin-left: 32px;
  display: grid;


  .logo {
    width: 100px;
  }

  q {
    font-style: italic;
    font-size: 1.2rem;
    quotes: "« " " »";
  }

  .demoChipContainer {
    .demoChipItem, .demoChipListContainer, .demoChipSecondaryContainer {
      margin-top: 12px;
    }
  }

  .demoInput {
    max-width: 250px;
  }

  .demoCheckbox {
    margin-bottom: 12px;
  }

  .demoCheckboxContainer,
  .demoDropdownContainer {
    margin-top: 32px;
  }

  .configTestCol,
  .displayCol,
  .nonConfigTestCol {
    grid-template-columns: auto;
    max-width: 300px;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .nonConfigTestCol {
    grid-column-start: 2;
  }

  .displayCol {
    grid-column-start: 3;
  }

}