.select-component {
  padding-top: 20px;
  padding-bottom: 20px;
}
.button-container-test {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  lib-button {
    padding: 2px;
  }
}
.datepicker-container {
  padding-bottom: 500px;
}

.errorButtonContainer {
  padding-top: 20px;
}

.banner-container {
  // padding: 128px;
  padding: auto;
  width: 400px;
  padding-top: 54px;
  padding-bottom: 54px;
}

.heading-buttons-container {
  padding-bottom: 20px;
}
