@use "../../util/color" as color;
@use "../../util/theme" as theme;
@use "../../util/device" as device;
@use "../../util/size" as size;
@use "../../tokens/template-const" as template-const;
@use "../../tokens/sizes" as token-size;
@use "../../typography/typography" as typography;
@use "../../tokens/text" as text;
@use "../../tokens/partial/focus" as focus;
@use "sass:map";

@mixin selector {
  lib-indicator#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin size-sm {
  .text {
    padding: 2px 8px;
    border-radius: 11px;

    @include typography.fontSize(map.get(text.$body, level), 4);

    &.rounded {
      min-width: 8px;
    }

    > svg {
      width: 12px;
    }
  }

  .number {
    padding: 6px 9px;

    > span {
      min-width: 14px;
    }

    @include typography.fontSize(map.get(text.$body, level), 4);

    &.num-lg {
      padding: 2px 8px;
      border-radius: 11px;
    }
  }

  .dot {
    width: 6px;
    height: 6px;
  }
}

@mixin size-lg {
  .text {
    padding: 4px 8px;
    border-radius: 15px;

    @include typography.fontSize(map.get(text.$body, level), 2);

    &.rounded {
      padding: 2px 8px;
      min-width: 12px;
    }

    > svg {
      width: 16px;
    }
  }

  .number {
    padding: 7px 10px;

    > span {
      min-width: 18px;
    }

    @include typography.fontSize(map.get(text.$body, level), 2);

    &.num-lg {
      padding: 4px 8px;
      border-radius: 15px;
    }
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}

@mixin status-color {
  &.info,
  &.teal {
    color: var(--information-text);
  }

  &.warning,
  &.orange {
    color: var(--warning-text);
  }

  &.critical,
  &.red {
    color: var(--critical-text);
  }

  &.generic,
  &.grey {
    color: var(--neutral-indicator-grey);
  }

  &.generic-primary,
  &.blue {
    color: var(--active-indicator-blue);
  }

  &.success,
  &.green {
    color: var(--success-text);
  }

  &.purple {
    color: var(--visited-indicator-purple);
  }

  &.navy {
    color: var(--cta-indicator-navy);
  }
}

@mixin status-bg {
  color: var(--neutral-indicator-white);

  &.info {
    background: var(--information-background);
  }

  &.warning {
    background: var(--warning-background);
  }

  &.critical {
    background: var(--critical-background);
  }

  &.generic {
    background: var(--neutral-indicator-grey);
  }

  &.generic-primary {
    background: var(--active-indicator-blue);
  }

  &.success {
    background: var(--success-background);
  }
}

@mixin palette-bg {
  &.teal {
    background: var(--information-background);
  }

  &.orange {
    background: var(--warning-background);
  }

  &.red {
    background: var(--critical-background);
  }

  &.grey {
    background: var(--neutral-indicator-grey);
  }

  &.blue {
    background: var(--active-indicator-blue);
  }

  &.green {
    background: var(--success-background);
  }

  &.purple {
    background: var(--visited-indicator-purple);
  }

  &.navy {
    background: var(--cta-indicator-navy);
  }
}

@mixin layout {
  display: inline-block;

  .text,
  .number {
    &.weak {
      @include status-color;
    }

    &.strong {
      @include status-bg;
      @include palette-bg;

      font-weight: 600;
    }
  }

  .number,
  .dot {
    border-radius: 50%;
  }

  .dot {
    display: block;

    @include status-bg;
  }

  .text {
    display: flex;
    align-items: center;
    text-align: center;

    svg {
      display: block;
      margin-right: 4px;
    }

    &.abbr {
      max-width: 184px; // 200 - 8x2
      overflow: hidden;
    }

    &.weak {
      background: var(--information-background-weak);
    }

    span {
      display: block;
      overflow: hidden;
      white-space: nowrap;

      &.abbr {
        //max-width: 200px;
        text-overflow: ellipsis;
      }
    }
  }

  .number {
    display: flex;
    text-align: center;

    span {
      display: block;
      overflow: hidden;
    }
  }

  @include size.selector(small) {
    @include size-sm();

    .large {
      @include size-lg();
    }
  }

  @include size.selector(large) {
    @include size-lg();

    .small {
      @include size-sm();
    }
  }

  .rounded {
    border-radius: 50%;
  }
}
