@use "../../util/color" as color;
@use "../../util/theme" as theme;
@use "../../util/device" as device;
@use "../../util/size" as size;
@use "../../tokens/template-const" as template-const;
@use "../../tokens/sizes" as token-size;
@use "../../typography/typography" as typography;
@use "../../tokens/text" as text;
@use "../../tokens/partial/focus" as focus;
@use "sass:map";

@mixin selector {
  ircc-cl-lib-breadcrumb#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

// For size small overwrite
@mixin size-sm {
  ircc-cl-lib-breadcrumb-link {
    a.breadcrumb-anchor,
    ircc-cl-lib-button .text {
      @include typography.fontSet(body, 3, regular);
    }

    &.breadcrumb-root {
      margin-right: 4px;
    }

    &.breadcrumb-item {
      margin: 0 4px;
    }
  }

  p {
    @include typography.fontSet(body, 3, regular);

    &.breadcrumb-child {
      margin-left: 8px;
    }
  }

  svg.fa-chevron-right {
    font-size: 12px;
    bottom: 0;
    padding: 0 2px;
  }

  div.overflow-menu {
    top: 44px;
    left: -50px;
  }
}

@mixin size-lg {
  ircc-cl-lib-breadcrumb-link {
    margin-right: 4px;

    a.breadcrumb-anchor,
    ircc-cl-lib-button .text {
      @include typography.fontSet(body, 2, regular);
    }

    &.breadcrumb-item {
      margin-left: 8px;
    }

    &.breadcrumb-root {
      padding: 4px 8px 4px 0;
    }
  }

  p {
    @include typography.fontSet(body, 2, regular);

    margin: 0;

    &.breadcrumb-child {
      margin-left: 8px;
      padding: 4px;
    }
  }

  svg.fa-chevron-right {
    font-size: 20px;
    bottom: -2px;
    padding: 0 4px;
  }

  div.overflow-menu {
    top: 48px;
    left: -43px;
  }
}

@mixin layout {
  display: block;
  padding: 6px 0;
  position: relative;

  > nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  ircc-cl-lib-breadcrumb-link {
    border-radius: 4px;

    &:focus,
    &:focus-visible {
      @include focus.layout();
    }

    &.breadcrumb-item {
      padding: 4px 8px;
    }

    &.breadcrumb-overflow {
      display: block;
      margin-right: 0;
      padding: 8px 16px;

      &:active {
        background: var(--generic-active);
      }
    }

    a.breadcrumb-anchor {
      text-decoration: none;
      border-radius: 4px;
      padding: 2px 4px;
      color: var(--link-text);

      &:focus {
        outline: none;
      }

      &:hover,
      &:active {
        background: none;
      }

      &:hover {
        color: var(--link-text-hover);
        background-color: var(--generic-hover);
      }
    }

    ircc-cl-lib-button {
      &:focus,
      &:focus-visible {
        outline: none;
      }

      button {
        line-height: 1rem;

        &:focus,
        &:focus-visible {
          outline: none;
        }
      }
    }
  }

  p {
    display: inline-block;

    &.breadcrumb-child {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      abbr {
        text-decoration: none;
      }
    }
  }

  svg.fa-chevron-right {
    color: var(--text-disabled);
    position: relative;
  }

  ircc-cl-lib-button {
    button {
      padding: 0;

      &:hover {
        color: var(--link-text-hover);
      }

      &:visited {
        color: var(--link-text-visited);
      }

      &:active {
        color: var(--link-text-active);
      }
    }
  }

  lib-icon-button.elipsis-icon {
    display: inline-block;
    position: relative;
  }

  div.overflow-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  div.overflow-menu {
    width: 197px;
    border: 1px solid var(--grey-5);
    border-radius: 4px;
    box-shadow: 0 8px 20px rgb(0 0 0 / 10%);
    background: var(--surface1);
    z-index: 99;
    left: -43px;
    padding: 8px 0;
    position: absolute;

    ircc-cl-lib-breadcrumb-link {
      &:hover {
        background-color: var(--generic-active);

        a.breadcrumb-anchor {
          background-color: transparent;
        }
      }

      a {
        padding: 0;

        --link-text: var(--grey-12);

        &:hover {
          color: var(--grey-12);
          background: none;
        }
      }
    }
  }

  @include size.select(small) {
    @include size-sm();

    .large {
      @include size-lg();
    }
  }

  @include size.select(large) {
    @include size-lg();

    .small {
      @include size-sm();
    }
  }
}
