@use "../../../scss/grid";
@use "../../../../../core-library/tokens/sizes" as ircc-ds-sizes;

$footer-height: 310px;

:host {
  position: relative;

  @include grid.col-12;

  > jds-font-icon {
    font-size: ircc-ds-sizes.$fixed-24;
    position: fixed;
    top: 123px;
    right: 26px;

    @include grid.un-laptop-layout {
      right: ircc-ds-sizes.$fixed-12;
      z-index: 200;
    }
  }

  .right-nav {
    @include grid.un-tablet-layout {
      display: none;
    }
    // a:focus {
    //   background: var(--navigation-weak);
    // }
  }

  .sidenav-section-wrapper {
    background: var(--surface1);
    box-sizing: border-box;

    @include grid.up-laptop-layout {
      padding: 0 6px;
    }

    &.fixed {
      @include grid.up-laptop-layout {
        position: fixed;
        top: 0;
        height: 75vh;
        overflow-y: auto;
      }
    }

    &.nav-open {
      @include grid.un-tablet-layout {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 1px 24px;
        box-sizing: border-box;
      }

      @include grid.in-phone-layout {
        padding: 1px 16px;
      }
    }
  }

  .menuItems {
    display: block;
    padding: 8px 12px;
    font-family: 'Lato';
    font-size: 16px;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 32px;
  }

  a {
    border-radius: 4px;
    outline-offset: -1px;
    color: var(--text-primary);

    &:link {
      text-decoration: none;
    }

    &:focus {
      outline: var(--navigation) solid 3px;
    }

    &:hover {
      background: var(--generic-hover);
    }

    &:active {
      background: var(--generic-active);
    }

    &:visited { // Do we have visited state here?!
      // color:black;
      // text-decoration: none;
    }

    &:disabled {
      background: var(--surface1);
      outline: none;
    }

    &.active {
      background: var(--navigation-weak);
      outline: var(--navigation) solid 1px;

      &:hover {
        background: var(--navigation-weak-hover);
        outline: var(--navigation-hover) solid 1px;
      }

      &:focus {
        border: var(--navigation) solid 1px;
        outline: var(--navigation) solid 3px;
        outline-offset: 2px;
        box-shadow: none;
      }

      &:disabled {
        background: var(--navigation-weak);
        color: var(--navigation-disabled);
      }
    }
  }

  ::ng-deep {
    ircc-cl-lib-nav-item {
      > .lib-nav-item {
        > div {
          > a {
            border-radius: 4px;
            border-left-width: 0;
            padding: 8px 12px;
            color: var(--text-primary);

            > p {
              color: var(--text-primary);
            }

            &.active-link {
              background: var(--navigation-weak);
              border-left-width: 0;
              outline: var(--navigation) solid 1px;

              &:hover {
                background: var(--navigation-weak-hover);
                outline: var(--navigation-hover) solid 1px;
              }

              &:focus {
                border: var(--navigation) solid 1px;
                outline: var(--navigation) solid 3px;
                outline-offset: 2px;
                box-shadow: none;
              }

              &:disabled {
                background: var(--navigation-weak);
                color: var(--navigation-disabled);
              }
            }
          }
        }
      }
    }
  }
}
