@use '../../../../../core-library/util/device' as device;
@use "../../../scss/page";
@use "../../../scss/grid";
@use '@ircc-ca/ds-sdc-core/typography/typography';

@include page.template;

.usage-figma {
  .image-1 {
    max-width: 239px;
    @include device.in-phone-layout {
      margin-top: 42px;
    }
  }
}

.image-1 {
  @include device.in-phone-layout {
    width: 179px;
    height: 152px;
  }
}
