@use "../../../../../core-library/util/theme" as theme;
@use "../../../../../core-library/util/size" as size;
@use "../../../../../component-library/src/scss/grid" as grid;
@use "../../../../../core-library/tokens/template-const";
@use "sass:map";
$selectors: "app-component-preview";

@mixin selector {
  #{$selectors}#{template-const.$escape} {
    @content;
  }
}

@mixin create {
  @include selector() {
    @include layout();
  }
}

@mixin layout {
  display: block;

  .preview-wrapper {
    box-sizing: border-box;
    padding: 0 64px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 170px;

    @include grid.in-phone-layout {
      width: 100%;
    }

    ircc-cl-lib-button.copy {
      margin-top: 10px;
    }
  }

  .background-white {
    background-color: var(--surface1);
    max-width: 400px;
  }

  .background-gray {
    background-color: var(--surface2);
  }
}
