<h2>Radio input component</h2>
  <lib-radio-input [config]="radioConfig"></lib-radio-input>
<button (click)="triggerError()">Toggle Errors (1, 2 or 0)</button>
<button (click)="toggleDisable()">Disable/Enable radio 1</button>
<app-auto-tester [config]="radioTestConfig"></app-auto-tester>
<hr/>
<h2>Banner component</h2>
<p>Note: banner resize will need to be tested to see if line dissapears if text-content is only one line</p>
<h3>Banner config:</h3>
<app-auto-tester [config]="testComponentConfig"></app-auto-tester>
<lib-banner [config]="qaBanner"></lib-banner>
<hr/>
<h3>CTA config:</h3>
<app-auto-tester [config]="ctaTestConfig"></app-auto-tester>

