<h2>Select component for QA:</h2>
<div class="btn-cont">
<button (click)="toggleComp('radio')">Radio Component</button>
<button (click)="toggleComp('banner')">Banner Component</button>
<button (click)="toggleComp('hidden')">Hidden Nav Component</button>
</div>
<hr/>
<section id="radio">
<h2>Radio input component</h2>
  <lib-radio-input [config]="radioConfig"></lib-radio-input>
<button (click)="triggerError()">Toggle Errors (1, 2 or 0)</button>
<button (click)="toggleDisable()">Disable/Enable radio 1</button>
<app-auto-tester [config]="radioTestConfig"></app-auto-tester>
</section>
<section id="banner">
<h2>Banner component</h2>
<p>Note: banner resize will need to be tested to see if line dissapears if text-content is only one line</p>
<h3>Banner config:</h3>
<app-auto-tester [config]="testComponentConfig"></app-auto-tester>
<lib-banner [config]="qaBanner"></lib-banner>
<hr/>
<h3>CTA config:</h3>
<app-auto-tester [config]="ctaTestConfig"></app-auto-tester>
</section>
<section id="hidden">
<h2>Hidden Nav</h2>
<lib-hidden-nav [config]="hiddenNavConfig"></lib-hidden-nav>
<h2>This heading has no id</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, perspiciatis?</p>
<p>Nam quia hic repellat ea facilis, magnam perferendis voluptatem expedita.</p>
<p>Minus illo provident facilis eaque harum optio veniam corrupti nulla?</p>
<h2 id="t1">Test 1</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum commodi pariatur, a cumque deserunt unde velit ad distinctio, placeat ipsa accusantium eligendi dolorum debitis soluta adipisci rem labore, exercitationem obcaecati!</p>
<p>Architecto repellendus odio perferendis, sit minus explicabo hic. Corrupti quia porro amet vel blanditiis aliquid neque provident qui reprehenderit necessitatibus! Officiis ducimus, repudiandae necessitatibus reprehenderit ab labore porro magnam alias.</p>
<p>Reiciendis sunt adipisci saepe, perspiciatis expedita ad ex exercitationem illum accusantium voluptatibus tempore culpa explicabo repellendus molestiae, delectus atque, quas eum. Eius error consectetur rem saepe eligendi vel odio beatae?</p>
<p>Accusantium recusandae dolore quae rem, veritatis optio et dignissimos nisi ad sit asperiores ipsum explicabo laudantium vitae a repellendus unde non quod eum ipsa, qui culpa magni architecto? Accusantium, reiciendis!</p>
<h2 id="t2">Test 2</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia sunt error ullam deleniti ex, laboriosam amet maiores, fugit et asperiores, sequi culpa quae atque rerum.</p>
</section>

