.button-container-fluid {
  padding: auto;
  padding-top: 54px;
  padding-bottom: 54px;
}

.button-container-fixed {
  max-width: 400px;
  width: 100%;
  padding: auto;
  padding-top: 54px;
  padding-bottom: 54px;
}

.checkbox {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
