@use "../../../../../core-library/util/device" as device;
@use "../../../scss/grid";

.button-container-fluid {
  padding: auto;
  padding-top: 54px;
  padding-bottom: 54px;
}

.button-container-fixed {
  max-width: 260px;
  width: 100%;
  padding: auto;
  padding-top: 54px;
  padding-bottom: 54px;
}

.checkbox {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;

  @include device.in-phone-layout() {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

@include grid.up-phone-layout() {
  .col-md-6:nth-child(odd) {
    padding-right: 12px;
  }

  .col-md-6:nth-child(even) {
    padding-left: 12px;
  }
}

h5 {
  margin-top: 0;
  margin-bottom: 12px;
}
