@use "../../../../../core-library/util/device" as device;
@use "../../../scss/grid";
@use "../../../scss/page";
@use "@ircc-ca/ds-sdc-core/typography/typography";

@include page.template;
.block {
  img.button-figma-usage {
    max-width: 224px;
    height: 286px;

    @include grid.in-phone-layout() {
      margin-top: 24px;
    }
  }
}
