@use "../../../../../core-library/util/device" as device;
@use "../../../../../core-library/typography/typography";
@use "../../../scss/grid";

.button-container-fluid {
  padding: auto;
  padding-top: 54px;
  padding-bottom: 54px;
}

.button-container-fixed {
  max-width: 260px;
  width: 100%;
  padding: auto;
  padding-top: 54px;
  padding-bottom: 54px;
}

.checkbox {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;

  @include device.in-phone-layout() {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

@include grid.up-phone-layout() {
  .col-md-6:nth-child(odd) {
    padding-right: 12px;
  }

  .col-md-6:nth-child(even) {
    padding-left: 12px;
  }
}

h5 {
  margin-top: 0;
  margin-bottom: 12px;

  @include typography.fontSet(heading, 5, emphasis);

  &.round-purple-num {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 0;
    position: relative;

    &:not(:nth-child(2)) {
      margin-top: 22px;
      top: 2px;
    }
  }
}

span {
  &.round-purple-num {
    color: var(--purple-9);
    font-weight: 700;
    background-color: var(--purple-2);
    padding: 9px 15px;
    border-radius: 50%;
  }
}

.specs,
.do-dont-container {
  p {
    margin: 0;
  }
}

.anatomy,
.design-guide,
.accessibility {
  p {
    margin-bottom: 0;
  }
}

.wrapper-container {
  .element-wrapper-container {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Utility classes should move to page template
.pt_8 {
  padding-top: 8px;

  &.col-md-6 {
    padding-top: 0;

    @include grid.up-phone-layout {
      padding-top: 8px;
    }
  }
}

.mt_12 {
  margin-top: 12px;
}
